[2019-05-21 06:38] moryoav opened #1 "Installation failed [Fixed]"
Installation initially failed because I had libgit2 missing (pip3 install pygit2 failed).
Additionally, "sudo apt-get install libgit2-dev" succeeded but pip3 install pygit2 complained that it can't find the right version.
My solution was:

[code]

and then:

[code]

Only then could I proceed with the installation of mmpm.

[2019-05-21 14:48] Bee-Mar commented on #1
Thanks for letting me know! I'll add this to the installation instructions. I must have installed something previously was bundled `libgit2-dev`, and never realized it was a dependency of `pygit2`.

[2019-05-21 15:29] Bee-Mar commented on #1
I've updated the README, so I'll close this issue now.

[2019-05-21 15:29] #1 closed

[2019-05-23 16:01] mattdb opened #2 "Script assumes python3 location"
My python3 binary is not located at `/usr/bin/python3`, I made locating python more robust by changing the first line to:

[code]

I think this change would be worthwhile to include for others, hence the issue. Thanks!

[2019-05-23 23:07] Bee-Mar commented on #2
Good point! I'll make the change shortly. I also plan on cleaning up the code soon.

[2019-05-23 23:07] #2 closed

[2019-05-24 22:24] Bee-Mar opened #3 "Issue Found Parsing Text on MagicMirror 3rd Party Modules - Will Fix ASAP"
^

[2019-06-18 18:19] BlackWolf-Kuzoku opened #4 "make install failed"
Hi there,
i get following messages , trying to install this module as descriped in the readme:

pi@raspberrypi:~/MagicMirror/modules/mmpm $ make install
pip3 install --user bs4 pygit2 colorama
Collecting bs4
  Using cached https://www.piwheels.org/simple/bs4/bs4-0.0.1-py3-none-any.whl
Collecting pygit2
  Using cached https://files.pythonhosted.org/packages/4c/64/88c2a4eb2d22ca1982b364f41ff5da42d61

[2019-06-18 21:55] Bee-Mar commented on #4
Try installing the `libffi-dev` package with `sudo apt install libffi-dev`. That should fix the dependency issue.

[2019-06-19 17:24] BlackWolf-Kuzoku commented on #4
Thank you!
Now i get another error.

 creating build/temp.linux-armv7l-3.5/src
  arm-linux-gnueabihf-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -g -fdebug-prefix-map=/build/python3.5-6waWnr/python3.5-3.5.3=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -I/usr/local/include -I/usr/include/python3.5m -c src/blob.c -o build/temp.l

[2019-06-20 02:03] Bee-Mar commented on #4
Can you try installing the python3 packages through apt?
Try: `sudo apt install python3-bs4 python3-pygit2 python3-colorama -y`
 If there are any dependencies you'd be missing, that should pick them up for you.

If that does work, you can just place the executable in `/usr/local/bin` manually with:

`sudo cp mmpy.py /usr/local/bin/mmpm && sudo chmod +x $_`

I tried a fresh install of Raspbian to s

[2019-06-20 11:07] BlackWolf-Kuzoku commented on #4
I'm using a fresh installation, too.  Maybe somethin went wrong as i updated all the installed packages.
Currently my raspberry means he cant find the mmpy.py  ... but it is definitly there...

I thank you for your effort... and support.  i think you can close this issue, because it seems to be on my installation.

[2019-06-20 11:07] #4 closed

[2019-07-15 22:17] drippyer commented on #1
I am actually still having an issue because of pygit2. Attempting to run any mmpm command results in
`PyGit2 package not found. Pip installing with --user flag.`
That eventually fails with
`Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-1t_8046a/pygit2/`

[2019-07-15 23:07] Bee-Mar commented on #1
Have you tried any of the following

[code]

[2019-07-15 23:17] drippyer commented on #1
I think it was upgrading pip that fixed it? I'd already tried upgrading setuptools and that didn't help but I can at least list installed modules now!

[2019-07-15 23:26] Bee-Mar commented on #1
Awesome! I actually just went in and removed the code that used pygit2, which was just one line. I swore I used it elsewhere, but that was probably in some previous version. I'm about to push the new version that doesn't need the `pygit2` module.

[2019-07-20 01:06] M08IUS0NE opened #5 "Running mmpm error"
Hello!

I just finished installing mmpm into my Rasbian Buster build on RPi 3+ and ran into a snag. Any attempts to call mmpm from the terminal is met with an error.

Tabulate package not found. Pip installing with --user flag
=====================================

Traceback (most recent call last):
    File "/usr/local/bin/mmpm", line 43, in <module>
          import tabulate
ModuleNotFoundError:

[2019-07-20 01:16] Bee-Mar commented on #5
This is possibly due to you needing to upgrade `pip`. You can try `pip install --upgrade pip` or `pip3 install --upgrade pip3`, or `hash -d pip3` or `hash -d pip`

[2019-07-20 01:20] M08IUS0NE commented on #5
Thanks for the fast response! Attempts to run `pip3 install --upgrade pip3` are met with:
ERROR: Could not find a version that satisfies the requirement pip3 (from verisons: none)
ERROR: No matching distribution found for pip3

However running 'which pip3', I get a response pointing to a pip3 repository.

[2019-07-20 01:22] M08IUS0NE commented on #5
Also: may be related, may not be: I don't believe the hidden json file ever installed. checked the directory and there wasn't anything with that file name, hidden or not.

[2019-07-20 01:26] Bee-Mar commented on #5
Yeah, if the modules aren't loading, then the code that creates the json file will never be reached. It sound like you don't have `pip3` installed, based on your last message. Try running `sudo apt install python3-pip` ... I think that's the command. You can search for it with `apt search pip3`

[2019-07-20 01:36] M08IUS0NE commented on #5
Hmmm... interesting. Running `apt search pip3` is yielding no results. Tested against `apt search pip` just to make sure the search was functioning and it is. Running `sudo apt install python3-pip` returns a comment that the newest versions is already installed. Running `python3 -m pip install --upgrade pip` says the requirements are already up-to-date: pip in /usr/local/lib/python3.7/dist-package

[2019-07-20 02:20] Bee-Mar commented on #5
That is odd, I'll keep looking into this and see what else it could be. I'm going to look into compiling this into a cython module, so it'll hopefully just be a binary download.

[2019-07-20 02:25] Bee-Mar commented on #5
You can also try installing `python3-tabulate` with `sudo apt install python3-tabulate`, and look into installing the modules from the apt repo if any other don't work

[2019-07-20 02:51] M08IUS0NE commented on #5
I ran `sudo apt install python3-tabulate` and then ran `mmpm` and it looks like it worked! Unsure why the python3-tabulate module didn't install originally or if maybe just restarting my pi helped too but it's working now! Thank you for all your help! 😄

[2019-07-20 02:52] #5 closed

[2019-07-20 15:56] Bee-Mar commented on #5
Interesting, well, I'm glad it worked! I'll update the README to contain the instructions for installing the required Python modules from the apt repo in case someone else has the same issue as you.

[2019-08-22 21:55] WolfShadowheart opened #6 "Pip error?"
Traceback (most recent call last):
  File "/usr/local/bin/mmpm", line 44, in <module>
    pip.main(["install", "--user", package])
AttributeError: module 'pip' has no attribute 'main'

I followed the instructions however I'm unable to get any of the mmpm commands to work, this is the only response I get!

[2019-08-24 19:44] handwrittenjello commented on #6
I am also getting the same issue.  I installed on another Pi a few days ago and didn't have this issue

[2019-08-24 19:49] handwrittenjello commented on #6
There was a previous issue and I resolved it by:

https://github.com/Bee-Mar/mmpm/issues/5#issuecomment-513429374

[2019-08-24 19:50] WolfShadowheart commented on #6
Interesting! I wonder if it has something to do with how the Pi itself had installed?

Edit: I see your linked comment, I will go and try that out! Thanks so much for finding that, I apologize that I didn't find it the first time!

[2019-08-24 19:53] #6 closed

[2019-11-18 18:01] shahrukh-alizai opened #7 "AttributeError: module 'pip' has no attribute 'main'"
Using Python 3 on Raspbian latest. Installed `mmpm` package via this command:
`git clone https://github.com/Bee-Mar/mmpm.git && cd mmpm && make install`

Expected results:
- Everything works fine

Actual Results:
- Getting error: `AttributeError: module 'pip' has no attribute 'main'`

[2019-11-21 22:28] xadamxk commented on #7
What version of pip do you have installed?
[code]

Not the ideal solution, but...
I believe version 10 requires slight changes for anything using v9 or lower.
If you have 10 installed, try downgrading/upgrading to the most recent version 9.

[2019-11-23 17:21] Bee-Mar commented on #7
@xadamxk yes, this is commonly caused by an out of date version of `pip.`

@shahrukh-alizai  Try upgrading your version of `pip` with `pip install --user --upgrade pip;`, and you may need to do that for `pip3` as well

[2019-12-09 20:12] vKnmnn commented on #7
Having the same issue on raspbian 10 and on archlinux, even  after upgrading pip3 and pip2 to version 19.3.1, so that doesn't seem to help.

[2019-12-14 19:32] Bee-Mar commented on #7
Have you tried installing the latest version of the package? If not, try cloning the repo, and re-installing.

[2019-12-21 16:20] vKnmnn commented on #7
pip 19.3.1 is the latest stable release. Or did you mean the latest mmpm package?

[2019-12-22 15:08] KrunchMuffin opened #8 "soupsieve not installed error"
`/home/pi/.local/lib/python2.7/site-packages/bs4/element.py:16: UserWarning: The soupsieve package is not installed. CSS selectors cannot be used.
  'The soupsieve package is not installed. CSS selectors cannot be used.'`

Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Requirement already satisfied: soupsieve in /usr/lib/python3/dist-packages (1.8)
pi@raspberrypi:~ $

[2019-12-23 12:13] Bee-Mar commented on #8
@KrunchMuffin try re-running with the `--user` flag:

`pip3 install --user soupsieve`

Based on the error message, it looks like you have `soupsieve` for python3 already built in`/usr/lib`, however you have it installed for python2 in `$HOME/.local/lib`, and that may be why it's not finding the dependency for python3

[2019-12-23 12:13] Bee-Mar commented on #7
@vKnmnn the latest mmpm package, sorry, didn't clarify

[2019-12-23 18:44] KrunchMuffin commented on #8
Same issue after running that.

Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Requirement already satisfied: soupsieve in /usr/lib/python3/dist-packages (1.8)
pi@raspberrypi:~ $ mmpm -l
/home/pi/.local/lib/python2.7/site-packages/bs4/element.py:16: UserWarning: The soupsieve package is not installed. CSS selectors cannot be used.
  'The soupsieve package is not insta

[2019-12-23 18:59] KrunchMuffin commented on #8
crap, I think I may have installed some things w/o `sudo` that may explain why 2.7 is in `/home/pi/`

[2019-12-23 19:13] #8 closed

[2019-12-30 03:45] accountnumber3 commented on #7
Fresh install, same issue. Root or nonroot doesn't matter.

[code]

[2019-12-30 14:54] testbughub commented on #7
+1 here.

[2019-12-31 02:14] Bee-Mar commented on #7
Try re-cloning the repo now. I found the issue, and it should be good...hopefully lol

@testbughub  @accountnumber3 @vKnmnn

[2019-12-31 08:09] testbughub commented on #7
It now works. Thanks!
Just a tought; Could you format the output for -a so it can be displayed on smaller screens?
I use 1366x768, and it looks like everything is set to work on larger displays.

[2019-12-31 15:25] accountnumber3 commented on #7
Works for me!

[2019-12-31 15:28] accountnumber3 opened #9 "ERROR: The directory '/home/$user/MagicMirror/modules' does not exist. Have you installed MagicMirror properly?"
modules directory is hard-coded, I don't keep my modules there. Can I get a `--module-dir` option?

[2019-12-31 15:33] accountnumber3 opened #10 "MMPM does not detect git failures"
[code]

Pretty sure I've messed up my git-core somehow. MMPM does not detect that the clone failed.

[2019-12-31 17:32] accountnumber3 commented on #10
I solved the git issues. My MM install is on an NFS share from freenas. At some point in the past I corrupted the file permissions when I changed from a Windows dataset to a UNIX dataset. I fixed it by setting it from UNIX to Windows, then Windows to UNIX, and doing a recursive permission change.

Obviously that is wayyyyy outside the scope of MMPM, but it should at least be able to detect the fai

[2020-01-01 04:42] Bee-Mar commented on #7
@testbughub I’ll see what I can do. It may require me to format the text so it’s more condensed. The tabulate package is a bit restrictive on the formatting width

[2020-01-01 04:43] Bee-Mar commented on #9
Fair enough. I may add in a settings file that store that sort of information.

[2020-01-01 04:43] Bee-Mar commented on #7
I’ll go ahead and close this issue now since it appears to be working for the people that had the issues

[2020-01-01 04:43] #7 closed

[2020-01-01 04:44] Bee-Mar commented on #10
@accountnumber3 I’ll add in some more checks for the git failures

[2020-01-05 20:05] Bee-Mar commented on #9
@accountnumber3 on the develop branch, there's support for a different installation location. If you set an environment variable named `MMPM_MAGICMIRROR_ROOT` to the absolute path of your MagicMirror installation, the cli will pick that up and use it as the location for installation and removal. Keep in mind this is on the develop branch, so you may encounter some bugs.

[2020-01-11 15:52] vKnmnn commented on #9
Hi, I installed  MagicMirror via docker, using a specific path as a bind mount to be able to install modules. this new feature comes in very handy.

i set MMPM_MAGIGMIRROR_ROOT to "/docker/magicmirror"

[code]

Nonetheless, mmpm reports
[code]
[code]

this is after a brand new install of mmpm

[2020-01-12 18:55] Bee-Mar commented on #9
Does that directory exist anywhere in your modules directory?

[2020-01-14 21:36] vKnmnn commented on #9
no, the modules directory was empty apart from the "default" directory and the README

[2020-01-19 14:41] Bee-Mar commented on #9
hmm, I haven't had time to look into this until this morning, but will spend more time today. This is very odd.

[2020-01-19 15:09] Bee-Mar commented on #10
@accountnumber3 The updated version should has more checks for git failures. This will be an ongoing improvement point.

[2020-01-19 15:09] #10 closed

[2020-02-12 05:57] AndrewSav opened #11 "Feature request: support multiple sources."
_If this is already possible, please let me know, may be I overlooked something!_

As it stands the only source of the package currently is the "official list" on the github page. It means that if a module is not there, I cannot install and update it with mmpm.

Why a module would not be there? Well there could be a few reasons. It could be a private module, hosted on an internal git server. Or it

[2020-02-12 15:25] Bee-Mar commented on #11
@AndrewSav That certainly seems doable. I'm thinking of adding configuration commands, and the values provided would be stored within a hidden JSON file. So, this could be lumped into that.

...perhaps something like `--add-ext-module-src`, to somewhat mirror `--add-apt-repository`within apt

[2020-02-12 19:36] AndrewSav commented on #11
In my opinion, more interesting question, is what would be the value of that option. I think something more generic than a module wiki page would be good, but since that's the only think we have now, it's not immideately obvious what could make a good custom source.

[2020-02-15 14:13] Bee-Mar commented on #11
@AndrewSav at the moment, it is difficult to justify the necessity of this, considering there isn't any single server hosting the package list. I've considered reaching out to the creator of MagicMirror and seeing what they think about something like this, but at the moment, since the github repos are the only sources available. If someone wants to add an additional source with experimental packag

[2020-02-15 21:29] AndrewSav commented on #11
Sorry, nescessity of what in particular? Justification of this feature request is contained in it's body, let me know what it's unconvincing, if you feel that it is.

This is because mmpm or any other toold does not support it. Let's fix it right here.

In which way is it better? I think it's just less convinient and create more work for every individual who'd like to that. mmpm is in possition to

[2020-02-18 05:16] Bee-Mar commented on #11
@AndrewSav I'm going to begin working on this shortly, and should have something usable rather soon.

[2020-02-19 04:22] Bee-Mar commented on #11
@AndrewSav If you still have the repo saved on disk, run a `git fetch` and then checkout the develop branch. I've added the ability to add external sources. You'll need to specify the exact url when prompted for the the `Repository`. This hasn't been tested all that thoroughly, but let me know if this is what you had in mind.

[2020-02-19 06:52] AndrewSav commented on #11
@Bee-Mar thank you very much. As it happens, I'm going to be on holiday until the end of next week, and will have a limited access to the hardware I'm running MM on. I appreciate your changes very much, that would allow me personally to make a few important for me changes in the plugins that are no longer maintained and have an automated way for setting them up and updating. It's unfortunate that

[2020-02-19 23:47] Bee-Mar commented on #11
@AndrewSav not a problem, whenever you get a chance, feel free to try it out and give feedback. Enjoy your holiday!

[2020-02-26 07:10] recklessnl opened #12 "Error: Cannot find module '/root/MagicMirror/serveronlyexport'"
I installed the package manager yesterday and now I'm getting this error:

[code]

This definitely happened due to the package manager - any idea what could've caused it and how to fix it?

[2020-02-26 07:23] recklessnl commented on #12
Let me do some more troubleshooting. It might be that something else went wrong. Still wrapping my head around this - might have been too fast to make this issue.

[2020-02-26 07:23] #12 closed

[2020-02-26 17:41] Bee-Mar commented on #11
@AndrewSav I'm going to close this for now. Let me know if anything seems to be off in behavior

[2020-02-26 17:41] #11 closed

[2020-03-26 16:40] kibotu opened #13 "Failed to start A high performance web server and a reverse proxy server."
how do you install this with different port?

[2020-03-26 16:44] Bee-Mar commented on #13
@kibotu would it be possible to post some relevant information from `journalctl -xe` as well?

The nginx settings can be configured in the `configs/mmpm.conf` file. However, note that changing that port will also require modifying the api url in the web interface.

[2020-03-26 17:17] Bee-Mar commented on #13
@kibotu Hopefully this guide I threw together will be of use to you, and anyone else that might have the same issue.

https://github.com/Bee-Mar/mmpm/wiki/Changing-NGINX-Port-Numbers

[2020-03-26 17:32] kibotu commented on #13
thanks for your replies

so it turns out you need to disable all running nginx instances e.g. pi-hole during installation and I missed that ^^'

[2020-03-26 17:32] #13 closed

[2020-03-26 17:33] Bee-Mar commented on #13
@kibotu Thanks for the heads up on that! I'll make a quick note of that on the installation wiki page for other users.

[2020-03-26 18:03] kibotu commented on #13
I could install mmpm successfully and configure the magic mirror via the browser gui however after rebooting the pi, it wouldn't reboot the mmpm service, so I ran

[code]
[code]

found a fix on [stackoverflow](https://stackoverflow.com/a/52894517):

change the port may help as 80 port is already using somewhere

[code]

Change the port: (note: I ended up using 8181, since 8080 was already taken to

[2020-03-26 22:23] Bee-Mar commented on #9
@vKnmnn If you have a chance, see if the latest update may resolve any of these issues. If not, i'll have to do some more digging

[2020-03-26 22:33] vKnmnn commented on #9
yes, i am gonna try right away. you have been busy, i see.

[2020-03-26 22:36] Bee-Mar commented on #9
@vKnmnn what sort of errors?

[2020-03-26 22:38] vKnmnn commented on #9
well i'm on arch linux, so it's some errors about apt not being available :)
never mind, i hat pip3 already installed so i just out-commented it. that's an issue to tackle when you're packaging this for distros.

I installed the new version and i was able to install packages into an empty directory. so it seems this issue has been fixed.
Thank you.

[2020-03-26 22:50] Bee-Mar commented on #9
@vKnmnn that's something I'm planning on doing soon, but thanks for the heads up about some users running MagicMirror on arch! Feel free to give feedback on the new interface as well. Since everything appears to be working now, i'll go ahead and close this.

[2020-03-26 22:50] #9 closed

[2020-03-26 22:54] Bee-Mar commented on #13
@kibotu You're quite welcome! Feel free to give any feedback on the interface, and CLI.

[2020-03-27 14:20] kibotu commented on #13
not sure where to put this but loving the ui, the only thing i found curious was that you can show only up to 10 packages per page, also  as enhancement out of the box and probably out of scope of the project would be a merge of concept for https://github.com/Jopyth/MMM-Remote-Control where you can enable added modules easier

[2020-03-27 14:36] Bee-Mar commented on #13
@kibotu I chose to leave the max as 10 for now just because i was trying to get a basic layout where all the pages lined up cleanly when switching between tabs. This can be modified in future updates. Hmm, there might be a way handling that sort of addition. My first thought is adding a conditional tab with an embedded iframe, and seeing if that ip address can be brought in from the config file, b

[2020-03-27 15:02] Bee-Mar commented on #13
@kibotu also, thank you for the complement! Feel free to spread the word of this project to any other users you may know :)

[2020-03-28 02:20] Bee-Mar opened #14 "Adding a control center tab to manage MagicMirror and the Raspberry Pi"
In the next release, an additional tab will contain buttons to allow the user to perform at least the following:

1) Restart MagicMirror
2) Start MagicMirror
3) Stop MagicMirror
4) Restart the RaspberryPi
5) Power off the Raspberry Pi

Currently, a local version of this is working.

[2020-03-28 20:41] Bee-Mar commented on #14
Added in the 1.0 release.

[2020-03-28 20:41] #14 closed

[2020-03-31 10:54] Pip32 opened #15 "Error-code 500 on webGUI: http failure"
Hey folks,

if i try to connect via webGUI, I get instantly following error message:

Error Code: 500
Message: Http failure response for http://localhost:7890/api/all-installed-modules: 500 INTERNAL SERVER ERROR

GUI then loading, but all chapters are empty besides MM-config

When try to list installed packages via terminal, works so far, only web GUI somehow crashes.

Did someone had the same pro

[2020-03-31 12:29] Bee-Mar commented on #15
@Pip32 there is a section in the Wiki mentioning this, under “Known Issues.” It’s something unfortunately I cannot directly fix, but am trying to find a viable workaround. There’s a known bug in Eventlet causing this, and the only workaround they suggest is using an older version of Python 3

[2020-04-07 21:48] Bee-Mar commented on #15
@Pip32 in the latest release, 1.08, the json file containing all 3rd party modules is populated during the installation. This appears to at least mitigate an initial 500 error when loading the web-application the first time.

[2020-04-11 17:51] arnedebeer opened #16 "No uninstall script available and unable to open the toolbar"
According to the wiki I should be able to cd into the directory and type in 'uninstall' just like the command 'make', unfortunately this does not work. Also since installing mmpm I can no longer press alt to get the toolbar or F11 to close fullscreen.

[2020-04-11 18:07] Bee-Mar commented on #16
In the wiki I mention those are all `make` targets, meaning you need to prepend `make` to all targets listed (ie, `make uninstall`). The effect of not being able to change full screen of your browser has nothing to do with MMPM, this is something I can assure you has nothing to do with any of the code in the application.

[2020-04-11 18:08] arnedebeer commented on #16
Ah alright! Sorry for my ignorance!

[2020-04-11 18:08] #16 closed

[2020-04-11 18:09] Bee-Mar commented on #16
@arnedebeer no problem, I'll edit the wiki to make sure it's obvious for anyone else.

[2020-04-24 20:34] Bee-Mar opened #17 "Shelljob Version"
For anyone experiencing issues retrieving the `shelljob` python3 package during installation, change the line specifying the version in `requirements.txt` from `shelljob>=0.5.6` to `shelljob==0.5.6`. There appears to be a problem retrieving the PyPi contents for versions newer than 0.5.6 right now.

[2020-04-25 16:54] #17 closed

[2020-05-07 22:21] khassel opened #21 "alternative install with docker"
Hi,

thank you for offering this nice module!

May someone is interested using a docker image instead of installing this stuff directly on his pi.

Did a quick setup [here](https://gitlab.com/khassel/mmpm), this could be a starting point ...

Let me know if this is of interest ...

[2020-05-07 22:27] Bee-Mar commented on #21
@khassel This is definitely of interest! I was actually considering creating a docker image about a month ago, but never got around to it. I'll pull the image, give it a whirl, and see how it behaves. Once you think it's operating well enough, we can figure out how to link the two projects together (either combining it into this repo, or just leaving it as a link on the readme here...literally jus

[2020-05-07 22:30] Bee-Mar commented on #21
At the moment, I'm converting the backend of things to use `sqlalchemy` with a proper SQLite database, to improve the performance. Which, really should have been done in the first place, but whaterver lol

[2020-05-07 22:42] khassel commented on #21
Thanks 🙂

Test it ...

I'm already thinking about
* a setup where MagicMirror is also running as docker image (this works already, documentation in progress ...)
* may getting an enhancement (e.g. env var) disabling the `control center` tab which will not work with docker

[2020-05-10 22:36] khassel opened #22 "local package shown twice"
Hi,

the local package site looks like this on my install:
![grafik](https://user-images.githubusercontent.com/25914086/81512153-a7b23f00-931e-11ea-9a5b-ac135bc275bb.png)

The MMM-NetworkScanner module is shown twice, but I installed only the module from ianperrin.

The second one seems to be a (specialized) fork from ianperrin.

[2020-05-10 23:12] Bee-Mar commented on #22
I'll look to add in some more logic with checking for duplicates available on the 3rd party wiki. Thanks for letting me know about this situation.

[2020-05-11 01:25] istvanfedak opened #23 "MagicMirror not stopping"
Hi,

I just wanted to start off by saying that this is an incredible module!

I couldn't stop the MagicMirror and return to the desktop while using Control Center.

Steps to recreate:
1. Fresh Raspbian Buster image
2. Installed MagicMirror using git clone & npm install
3. Followed installation instruction guides for mmpm and installed the module
4. Went to http://raspberrypi:7890
5. Clicked on Sta

[2020-05-11 01:40] Bee-Mar commented on #23
@istvanfedak Thank you! Also, can you check the log files and see if any error messages were produced? They'll be under `~/.config/mmpm/log`

[2020-05-11 02:22] istvanfedak opened #24 "Add rotate screen button to Control Center"
Hi,

I was wondering if a rotate screen button could be added to Control Center. It would give visual feedback as to what rotation the screen has and prompt the user after 3 seconds if they want to reboot the pi (the delay would give the user enough time to click the button multiple times until they get the desired rotation, every time they click the button the timer would reset).

After reboot th

[2020-05-11 02:44] istvanfedak commented on #23
Here are all the log files

[mmpm-cli-interface.log](https://github.com/Bee-Mar/mmpm/files/4607309/mmpm-cli-interface.log)
[mmpm-gunicorn-access.log](https://github.com/Bee-Mar/mmpm/files/4607310/mmpm-gunicorn-access.log)
[mmpm-gunicorn-error.log](https://github.com/Bee-Mar/mmpm/files/4607311/mmpm-gunicorn-error.log)

[2020-05-11 02:50] Bee-Mar commented on #23
@istvanfedak just curious, are you managing MagicMirror with `pm2`?

[2020-05-11 02:54] istvanfedak commented on #23
No I haven't installed pm2, but I plan to install it

[2020-05-11 02:59] Bee-Mar commented on #23
@istvanfedak gotcha. I was wondering if that was the issue after looking at the log files, but it doesn't appear to be. I'll have to revisit the processes being checked to see if MagicMirror is running and update some of the util functions

[2020-05-11 03:02] Bee-Mar commented on #24
@istvanfedak This would definitely make a solid addition. Adding in the execution of this should be quite straight forward, however, if you'd like to take a stab at the enhancement yourself feel free. It's quite nice seeing people contribute with pull requests

[2020-05-11 03:55] istvanfedak commented on #23
@Bee-Mar let me know if you need anything else

[2020-05-11 04:05] istvanfedak commented on #24
@Bee-Mar sounds good, I’ll give it a shot

[2020-05-12 00:04] Bee-Mar commented on #23
@istvanfedak I'll be adding a fix for shortly. It looks like I omitted killing the processes associated with electron as well. I'm also adding the logic for `pm2`, so it'll work seamlessly when you switch over

[2020-05-12 00:46] #23 closed

[2020-05-12 02:35] istvanfedak commented on #24
@Bee-Mar I'm not too familiar with angular or electron but would these be the changes needed to add the button?

in https://github.com/Bee-Mar/mmpm/blob/enhancement/display-modules-performance/gui/src/app/components/magic-mirror-control-center/magic-mirror-control-center.component.ts#L34

add button in tile:
{
    icon: "refresh",
    tooltip: "Rotate MagicMirror",
    cols: 1,
    rows: 1,
    ur

[2020-05-12 16:13] Bee-Mar commented on #21
@khassel I've added a dedicated wiki page containing basic information for you docker image, as well as link in the primary installation wiki page

[2020-05-12 19:40] khassel commented on #21
Thanks!

Yesterday I added instructions to run the mmpm-docker-setup together with a mm-docker-setup.
There is also now a docker image for amd64-architecture (beside arm) for people running mm in serveronly mode on a linux machine.

@Bee-Mar I don't know if you looked into my Docker setup, you wrote your app an you know best how to deploy this stuff. So don't hesitate with improvements ...

[2020-05-13 02:25] Bee-Mar commented on #24
@istvanfedak Would it be easier to set an environment variable for the user, and read that value rather than using an additional file? Something like `DISPLAY_ROTATION`? You could convert the shell script to a function within the `mmpm.utils`, and then read the environment variable in with `os.environ`.

[2020-05-13 03:04] istvanfedak commented on #24
@Bee-Mar Yea I think a drop down menu would make it clear and not confuse the user. Sounds good I can convert the script to python. I can do a PR for the `mmpm.utils` function. I've never worked with angular, so if you could do the front end, it would be great! I plan to learn it some day

[2020-05-13 04:13] istvanfedak commented on #24
I just did a pr adding `mmpm.utils.rotate_display` the function requires `os.environ['DISPLAY_ROTATION']` to one of the following values: `0, 1, 2 or 3`.

[2020-05-14 15:04] sdetweil opened #26 "is there a script/tool that helps me get back to installed system"
I didn't bookmark the page.. how do I get back there?

[2020-05-14 15:07] sdetweil opened #27 "i have modules installed not in 3rd party list, but also not shown"
i have modules installed, but are not shown on MMPM screen..
the package.json file could take you to the github url.. owner...
(and git remote -v too)

at least show them..

also i have some disabled..   it would be great to know this.
I had to add this feature to my upgrade script.. also have one module listed 11 times with different configs..

[2020-05-14 15:15] Bee-Mar commented on #26
@sdetweil I can add a command line option to print that information out, but it'll be at the raspberry pi's IP, and port 7890

ie, 192.168.0.100:7890

[2020-05-14 15:20] Bee-Mar commented on #27
You can add those to the external modules, via `mmpm -X` or the equivalent `mmpm --add-ext-module-src` and manually enter the information there. I don't have any plans to add scraping directories for information.

[2020-05-14 15:21] sdetweil commented on #26
i always install over ssh, so the web page probably won't open, or would open behind MM)
so I would have to launch from the ssh terminal window or the file window over the remote volume..
I have 8 MM's running on various platforms. 1 production, 1 near production (hardly ever taken down), and others on mac, pi0, odroid, jetson nano,  etc
just trying to find an easy way back.

[2020-05-14 15:21] Bee-Mar commented on #27
@sdetweil Adding an option to display the enabled modules is something that's doable, and would be useful. I'll tag this as a enhancement for this reason.

[2020-05-14 15:23] Bee-Mar commented on #26
it should be visible on all the devices you have mmpm installed on, unless you've blocked the ports

[2020-05-14 15:25] Bee-Mar commented on #26
I'm also labelling this as an enhancement to add a command line option for displaying the GUI address

[2020-05-14 15:48] sdetweil commented on #27
sorry, one more question

mmpm -X
Register external module source

what does that mean?  'source'

is that source files (.js...) (as in located in the modules folder,  some local git repo, or folder
or the github/??? url location?
and it github, why are u asking for title?

there is no help for the -X command

[2020-05-14 15:52] Bee-Mar commented on #27
If you execute `mmpm -X` it will prompt you for the required information (the module title, repo url, author, and description). I should add more details to the help section for that command, but 'source' was probably not the best name, and should just be left as `--add-ext-module`

[2020-05-14 15:54] sdetweil commented on #27
is there a way I can provide all the data, no prompts?  I will write a script to do the data mining to add the entries, too many systems to do manually

[2020-05-14 15:58] Bee-Mar commented on #27
if you want to do it manually, you can add a file in `~/.config/mmpm` named `mmpm-external-sources.json`, and populate the json yourself.

The format would be
[code]

If any of those other modules are using different branches, you can also bake the branch name into the "Repository" by using something like

[code]

[2020-05-14 16:01] sdetweil commented on #27
so there is one block inside the array for each added module?

[2020-05-14 16:04] Bee-Mar commented on #27
There is one single array under "External Module Sources", with each object appended to that array. I updated the example above so it's more clear

[2020-05-14 16:09] sdetweil commented on #27
ok, the file is not there by default.

[2020-05-14 16:12] Bee-Mar commented on #27
@sdetweil correct, However it would be created the first time you were to register an external module. If you register new ones, it'll just get appended to. Once registered the modules would be displayed under the category of "External Module Sources" if you execute something like `mmpm -c` or `mmpm -a`, or perform a search for all of them using `mmpm -s "External Module Sources"`

[2020-05-14 16:14] Bee-Mar commented on #27
@sdetweil if the modules are in private repos, or you're using ssh keys with your github account, they will still work

[2020-05-14 16:23] sdetweil commented on #27
I created an empty file,  shows an empty list
I added an entry,
refresh doesn't show it , click on external doesn't show it

[2020-05-14 16:37] Bee-Mar commented on #27
you did not place the keys in the proper order from the example I provided

[2020-05-14 16:44] sdetweil commented on #27
keys are keys.. non positional.. , the whole VALUE of keys

[2020-05-14 16:48] sdetweil commented on #27
i made it this
[code]

nothing shows

[2020-05-14 16:53] Bee-Mar commented on #27
@sdetweil This was not designed to be done in way that was set up for scripting, so the design is what it currently is. The webpage and cli expect things to be in a certain order.

[2020-05-14 16:59] Bee-Mar commented on #27
Is the file named properly? The json you provided above displays in the webpage for me just fine.

[2020-05-14 17:05] sdetweil commented on #27
ok, missing 's' on the end of sources, but only get one entry
![Screenshot at 2020-05-14 12-03-54](https://user-images.githubusercontent.com/1498142/81963727-1c190680-95db-11ea-9eb6-149f21c71c1d.png)
[code]

[2020-05-14 17:12] Bee-Mar commented on #27
Both the mmpm and mycovid19 modules display for me after copy and pasting exactly what you have on the screen into the `mmpm-external-module-sources.json`, saving it, and refreshing the page

[2020-05-14 17:12] sdetweil commented on #27
never mind user error.. somehow I renamed the file and ended up with the old one (with the content)
and the new one (with only one entry)

works now

[2020-05-14 17:12] Bee-Mar commented on #27
gotcha, glad it was resolved

[2020-05-14 23:06] #27 closed

[2020-05-14 23:06] Bee-Mar commented on #24
@istvanfedak I'll take a look at this shortly

[2020-05-15 01:30] Bee-Mar commented on #26
@sdetweil The feature I mentioned above has been added to the develop branch, as well as an option to list the enabled/disabled modules.

[2020-05-15 01:30] #26 closed

[2020-05-16 02:25] istvanfedak commented on #24
@Bee-Mar Awesome! I did notice that the function need root privilages in order to read and write to the `/boot/` directory. You could get around that with a script by spawning a child process that executes the script with sudo (as you do with shutdown and restart)

[2020-05-18 02:02] istvanfedak commented on #23
Hi,

I'm still having the same issue. I downloaded the pm2 manager and I set it to auto start the magic mirror.

I uninstalled mmpm and I reinstalled it in ~/MagicMirror/modules/ and used the one line install command.

Now the MagicMirror wont even start. Here are my log files:

[mmpm-cli-interface.log](https://github.com/Bee-Mar/mmpm/files/4641639/mmpm-cli-interface.log)
[mmpm-gunicorn-access.log

[2020-05-18 02:16] istvanfedak commented on #23
Just fixed the issue.

Steps to reproduce
- remove the old pm2 process: `pm2 delete mm`
- rename the `mm.sh` script to `MagicMirror.sh`
- start the process: `pm2 MagicMirror.sh`
- save the state: `pm2 save`

@Bee-Mar maybe you could add a note in the Wiki on how to setup pm2 so that its compatible with your module

[2020-05-18 18:24] Bee-Mar commented on #23
@istvanfedak thanks! I'll definitely add something to the wiki about this. And I still haven't gotten to your pull request, but plan on within the week

[2020-05-19 02:34] Bee-Mar commented on #23
@istvanfedak I'll see if I can find a way of retrieving the name of the `pm2` process that's running the magicmirror, or possibly have an environment variable as an option

[2020-05-21 01:06] tkg61 opened #29 "500 Error when trying to control magic mirror"
Having trouble with the control center. Whenever i try to interact with magic mirror (stop, restart, etc) i get a 500 error. "Start" works but i can't stop it after and have to reboot. It seems to be an issue with "rootlogger". I am able to install and configure modules, just not interact with the MM process. Here are the errors/stack trace:

[code]

[2020-05-21 13:04] Bee-Mar commented on #29
@tkg61 Which version of python3 do you have?

[2020-05-21 13:09] tkg61 commented on #29
I have python 3.7.3

Python 2 is also installed. Would that possibly be an issue?

[2020-05-21 13:18] Bee-Mar commented on #29
@tkg61 shoudn't be. I found where the issue is, but it'll have to wait until either later tonight, or this weekend. The logger objects seem to be resolving to different objects in different versions of python3. I've been meaning to put together tests, and this is clearly where it would have been beneficial lol

[2020-05-21 13:21] tkg61 commented on #29
Ok no worries. Thanks for taking a look, This module is great!

Happy to test anything if needed.

[2020-05-21 18:44] Bee-Mar commented on #29
@tkg61 thanks! once I put a fix together, i'll let you know the branch, and you can see how it works for you

[2020-05-22 21:39] Bee-Mar commented on #29
@tkg61 well...I just looked at the error message again, and realized the bug fix was significantly more simple than what I first thought. I'll get it out in a few minutes after the pipelines are run

[2020-05-22 22:01] Bee-Mar commented on #29
@tkg61 just published the release. I'm going to go ahead close this

[2020-05-22 22:01] #29 closed

[2020-05-22 22:20] tkg61 commented on #29
Sweet I’ll test this evening

[2020-05-23 00:55] #24 closed

[2020-05-23 22:15] Bee-Mar commented on #24
@istvanfedak I brought in your pull request to the develop branch yesterday. I'm doing a total rework of the cli options, and once that's all done and merged up into develop, i'll get your code fully integrated into the package

[2020-05-24 01:38] tkg61 commented on #29
Just wanted to report back that everything works. Thanks again for the help!

[2020-05-24 01:42] Bee-Mar commented on #29
Great! If you come across any other bugs, feel free to make an issue

[2020-05-24 21:37] istvanfedak commented on #24
Awesome! Thanks

[2020-05-29 03:21] Bee-Mar commented on #22
@khassel forgot to update you on this. This is currently being included as part of a larger group of many improvements to come. Since this only affects one module, I'm going to wait until the rest of the improvements are merged into the master branch

[2020-05-31 17:04] julianCast opened #30 "Not showing any local package installed"
Before installing mmpm I had some modules installed but I don´t see them in the local packages section.

For information: As I have magicMirrosOS, my modules are found on `~/magicmirror/mounts/modules`, and config `~/magicmirror/mounts/config`

Your config is hardcoded for regular magic mirror installation
https://github.com/Bee-Mar/mmpm/blob/298ee9d9ab3d75c480e8c17cee5982f1764cf4d0/mmpm/core.py#L

[2020-05-31 17:28] julianCast commented on #30
Your  utils files set the magic mirror root path like this, but for us with magicMirrorOS would be like this:

![Screenshot (47)](https://user-images.githubusercontent.com/559677/83358380-5a504d00-a373-11ea-8e30-f7b3a61ed16f.png)

[2020-05-31 17:37] Bee-Mar commented on #30
@julianCast This is an environment variable you can set in your bashrc. The default value is set to `~/MagicMirror`

[2020-05-31 18:04] Bee-Mar commented on #30
@julianCast Once you set the env variable and test it out, I'll close this issue

[2020-05-31 18:57] julianCast commented on #30
Great! I'll set it tonight and  I'll let you know, thanks

[2020-05-31 19:11] julianCast commented on #30
Ok, I did exactly what you said and it's working perfect now!
It's actually a MUST HAVE, good job with the config terminal
Thank you so much.

[2020-05-31 22:38] Bee-Mar commented on #30
You're welcome, and thank you! and keep an eye out for the next major update for `mmpm`, there will be quite a few new additions to the CLI and modifications to the GUI

[2020-06-14 21:27] tkg61 opened #31 "Feature request: Add Tab for Custom.css editing"
Any chance it would be easy to add the custom.css file as a tab for editing just as the config is?

Thanks!

[2020-06-14 21:29] Bee-Mar commented on #31
@tkg61 are you referring to custom CSS for the web interface?

[2020-06-14 22:10] tkg61 commented on #31
Sorry I mean MM module custom css file

Magicmirror/config/config.css

[2020-06-14 22:33] Bee-Mar commented on #31
ah, gotcha. Well, that it's almost certainly doable, but it'll be probably at least a couple weeks before that's implemented. I'm in the middle of a total rework of the CLI and web interface, but this definitely seems quite doable.

[2020-06-14 22:36] khassel commented on #21
Hi,

I have a question regarding the ports 7892/7893 for webSSHLocation.

Why is this proxied via nginx?

Would `webSSHLocation = 'http://localhost:7893';` in `app.components.ts` not be sufficient and you could omit port 7892?

Thanks,

Karsten.

[2020-06-15 23:01] Bee-Mar commented on #21
using `http://localhost:7893' without the proxy would be pointing to the localhost of whatever device is being used to view the webpage, which would prevent that URL from being resolved properly

[2020-06-16 19:22] khassel commented on #21
sorry for the noise, was in debug mode while testing this and forgot that angular works on the client side ...

[2020-06-16 20:08] khassel commented on #21
one point left is

At the moment I'm doing an ugly hack to operate the `control center` tab out of the `app.component.html`:

[code]
Would really appreciate getting a more solid solution here ...

[2020-06-16 20:26] Bee-Mar commented on #21
@khassel not a problem at all! In addition to a total rework of the CLI, I'm looking to integrate some of the control center into the socket.io sockets being used by MagicMirror. As far as being able to manage the power of the raspberry pi from within the docker image, that might just be something that's best left as something that shouldn't be hacked into for security purposes. Or, left as a flag

[2020-06-16 20:53] khassel commented on #21
With raspian stretch it was possible to map all things into the container needed for doing a restart/shutdown from inside the container. But don't ask for security doing such things.

With buster this is no longer possible (may there are other ugly hacks).

What you can always do is to write a service which must be installed on the host and the container triggers actions by e.g. writing in files t

[2020-06-17 18:06] Bee-Mar commented on #21
ah, well, that's unfortunate the ability to power off or restart the raspberry pi isn't available anymore. Sorry, I was not thinking very clearly when I brought up the socket.io stuff, it's not actually relevant to the topic lol.

Also, once I have the upgrades done for the next major release of MMPM (hopefully in the next 2 weeks) I'm planning on helping you out with the docker image. I noticed t

[2020-06-18 18:53] tkg61 commented on #31
No worries! Looking forward to the rework!

[2020-06-19 00:09] Bee-Mar commented on #31
Thanks! It'll definitely be a lot cleaner and intuitive

[2020-06-27 22:55] Bee-Mar commented on #31
@tkg61 this will be definitely be added in the upcoming version, which will hopefully be completely done in the next week or two

[2020-07-01 03:18] Bee-Mar commented on #31
@tkg61 I'm going to go ahead and close this issue. I've implemented in the branch I've been working on that contains the massive changes

[2020-07-01 03:18] #31 closed

[2020-07-01 23:28] Bee-Mar commented on #21
@khassel Just a friendly heads up so I don't break your docker image. I'm still working on the major upgrades, which are getting quite close to being done. Once everything is merged into develop (probably a rebase in reality) ll let you know. I'll let it sit in develop while I work on writing some tests, and do some testing as well

[2020-07-06 05:09] usafmaverick opened #32 "Error 502 Bad Gateway"
Fresh install of Ubuntu 16.04 LTS, fresh install of MagicMirror to ~/MagicMirror, minimal layout configuration and no extra modules.

Trying to install mmpm using the all in one command provided on the install wiki. It installs successfully, however when I navigate to myipaddress:7890 I get a 502 Bad Gateway error. Initially I ran the all in one command from ~, so I did make uninstall and tried re

[2020-07-06 10:35] Bee-Mar commented on #32
can you attach any output from the logs that looks relevant? The logs will be in `~/.config/mmpm/log`. Also, please attach output from `sudo systemctl mmpm`, and `sudo systemctl status mmpm-webssh`

It sounds like the WSGI server failed to start. I'll check this out on a VM soon

[2020-07-06 10:40] #15 closed

[2020-07-06 14:16] usafmaverick commented on #32
Python 2.7.12, Python3 3.5.2

login as: root
root@10.0.0.16's password:
Welcome to Ubuntu 16.04.6 LTS (GNU/Linux 4.15.18-10-pve x86_64)
Copied below is the status of mmpm-webssh and Ive attached the log files as requested.
[mmpm-gunicorn-error.log](https://github.com/Bee-Mar/mmpm/files/4879453/mmpm-gunicorn-error.log)

:
`root@magicmirror:~# sudo systemctl status mmpm-webssh
* mmpm-webssh.service

[2020-07-06 14:39] Bee-Mar commented on #32
Well, you’ll definitely need to upgrade to python 3.6 or higher. This package is incompatible with anything lower than 3.6. Try upgrading, and reinstalling MMPM

[2020-07-06 15:01] usafmaverick commented on #32
Updated to Python3 version 3.6.3, ran make uninstall, rebooted, the reran the all in one command. Now Im getting a different error. Included below:

root@magicmirror:~# git clone https://github.com/Bee-Mar/mmpm.git && \

Cloning into 'mmpm'...
remote: Enumerating objects: 476, done.
remote: Counting objects: 100% (476/476), done.
remote: Compressing objects: 100% (293/293), done.
remote: Total 521

[2020-07-06 15:45] usafmaverick commented on #32
Update: Updating to python 3.7.2 did the trick. Web interface seems to be working as expected. Thanks for the help.

[2020-07-06 15:53] Bee-Mar commented on #32
@usafmaverick no problem, and glad it's working for you! I'll go ahead an update the wiki to specify 3.7 or greater. Also, there will be a pretty major upgrade in all aspects of the application in a couple weeks.

[2020-07-06 18:07] #32 closed

[2020-07-12 19:52] stopspazzing opened #33 "Manual dependency installation instructions outputs error."
On Fresh install on Raspberry Pi Zero W with Raspberry Pi OS (Full)

`curl -sL https://deb.nodesource.com/setup_10.x \| sudo -E bash -`

[code]

Obviously I can get around this with source compiling or as suggested, binary tarballs, but wanted to make this known.

[2020-07-12 19:56] Bee-Mar commented on #33
is this occurring during the installation of MMPM?

[2020-07-13 01:22] stopspazzing commented on #33
Thankfully doesnt happen with your provided one liner. It only happens when someone attempts to do a manual install of the dependancies first, which I did. Seems it's listed on [https://docs.magicmirror.builders/getting-started/installation.html#manual-installation](https://docs.magicmirror.builders/getting-started/installation.html#manual-installation) also so doesn't seem like an issue with your

[2020-07-13 01:25] #33 closed

[2020-07-13 12:34] Bee-Mar commented on #33
@stopspazzing not a problem! It's definitely good to know for reference, and this is something MagicMirror should be made aware of

[2020-07-17 03:40] Bee-Mar commented on #21
@khassel so, I'm right on track, and the only thing remaining is the theme switching, but it's definitely at the point where you can give it a shot. The revamped version is on the develop branch.

You can install it by running `make from-src` at  root of the repo

The one-liner is `git clone https://github.com/bee-mar/mmpm.git -b develop; cd mmpm; make from-src`

and of course, `$HOME/.local/bin`

[2020-07-17 22:18] khassel commented on #21
@Bee-Mar the first version is running ... I was a bit surprised of the theme 😜

There were some minor issues, no problem to solve, but I mention these things because they may cause problems in normal installs.

New todo's before install (doing the install as root):
[code]

I'm not happy with the new feature, having all the env vars in `mmpm-env.json`.
This file can now be changed via mmpm-editor,

[2020-07-17 22:24] Bee-Mar commented on #21
mounting `mmpm-env.json` on the host is the intention. If the user was changing settings through environment variables, the entire web server would need to be stopped, then restarted. But by the contents being in the JSON file, it can be reloaded immediately. All you would need to do is refresh the page.

In the case of the docker version of MMPM, there is no need to set `MMPM_MAGICMIRROR_DOCKER_C

[2020-07-18 00:25] swvalenti194 opened #34 "Install Error/Help"
See attached error log, installed per wiki but idk wth is going on...thanks!

[10.30.1.223-20200717-201457.log](https://github.com/Bee-Mar/mmpm/files/4940832/10.30.1.223-20200717-201457.log)

[2020-07-18 10:11] Bee-Mar commented on #34
In the logs show near the bottom your Python3 version is 3.5, and in the Wiki the required version of Python is 3.7 or greater. Upgrading your Python3 version should be all you need

[2020-07-18 15:50] swvalenti194 commented on #34
Thanks, I assumed out of ignorance that package would auto-upgrade but didn't realize I had to upgrade myself.  For the life of me I have google and tried to update python but for some reason it stays at 3.5 even though it says I installed 3.8?

[2020-07-18 16:48] Bee-Mar commented on #34
do you by chance have both versions installed somehow? if not, try removing all the dependencies of MMPM, then reinstalling.

To remove the dependencies, change directories into the root of the repository, then run `pip3 uninstall -r requirements.txt`

Also, just a heads up, a massively upgraded version of MMPM is coming out on the 24th of July. You can see a teaser of it here:

https://www.reddit

[2020-07-18 16:53] swvalenti194 commented on #34
I am not sure if I do have both installed, tried the remove dependencies and re-install but same error.

[2020-07-18 17:00] Bee-Mar commented on #34
do you mind checking the status of required services and pasting the output?

`sudo systemctl status nginx`
`sudo systemctl status mmpm`
`sudo systemctl status mmpm-webssh`

[2020-07-18 17:09] swvalenti194 commented on #34
` sudo systemctl status nginx
● nginx.service - A high performance web server and a reverse proxy server
   Loaded: loaded (/lib/systemd/system/nginx.service; enabled; vendor preset: en
   Active: active (running) since Sat 2020-07-18 13:04:59 EDT; 1min 36s ago
     Docs: man:nginx(8)
  Process: 2970 ExecStop=/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 -
  Process: 2975 ExecStart=/usr/sb

[2020-07-18 17:11] Bee-Mar commented on #34
hmm, try restarting the services, then see the output afterwards

`sudo systemctl restart mmpm`
`sudo systemctl restart mmpm-webssh`

`sudo systemctl status mmpm`
`sudo systemctl status mmpm-webssh`

[2020-07-18 17:17] swvalenti194 commented on #34
Same errors as previously posted

[2020-07-18 17:20] Bee-Mar commented on #34
some of the error output is cut off, do you mind trying to post it again? It would be useful to see what's after the ellipses as well as the error codes

[code]

[2020-07-18 17:22] Bee-Mar commented on #34
for both the mmpm and mmpm-webssh services

[2020-07-18 17:23] swvalenti194 commented on #34
[10.30.1.223-20200718-132002.log](https://github.com/Bee-Mar/mmpm/files/4942130/10.30.1.223-20200718-132002.log)
[10.30.1.223-20200718-132231.log](https://github.com/Bee-Mar/mmpm/files/4942131/10.30.1.223-20200718-132231.log)

See attached logs hopefully that works for you

[2020-07-18 17:44] Bee-Mar commented on #34
well, i hate to ask you the equivalent of turning it off and turning it on again, but would you mind trying to reinstall MMPM?

try running `make reinstall` from the root of the repo

[2020-07-18 17:44] Bee-Mar commented on #34
sorry this isn't installing cleanly for you

[2020-07-18 17:50] swvalenti194 commented on #34
No worries brother I appreciate your time...

pi@raspberrypi:~/mmpm $ make reinstall
----------------------
| Removing MMPM CLI  |
----------------------
Converted retries value: Retry(total=5, connect=None, read=None, redirect=None)                                                                                         -> Retry(total=Retry(total=5, connect=None, read=None, redirect=None), connect

[2020-07-18 17:53] Bee-Mar commented on #34
is pihole by chance installed on the same device?

[2020-07-18 17:54] swvalenti194 commented on #34
no pihole, just magicmirror

[2020-07-18 17:55] Bee-Mar commented on #34
hmm...

can you see if there's a conflicting service running on the same port?

`sudo netstat -pnltu | grep 7890`

if the `netstat` command isn't installed, you can install it with `sudo apt install net-tools -y`

[2020-07-18 17:56] swvalenti194 commented on #34
pi@raspberrypi:~ $ sudo netstat -pnltu | grep 7890
tcp        0      0 0.0.0.0:7890            0.0.0.0:*               LISTEN      4207/nginx: master

[2020-07-18 17:58] swvalenti194 commented on #34
[PM2] Applying action stopProcessId on app [mm](ids: 1)
[PM2] [mm](1) ✓
┌─────────────┬────┬─────────┬──────┬──────┬─────────┬─────────┬────────┬─────┬──────────┬──────┬──────────┐
│ App name    │ id │ version │ mode │ pid  │ status  │ restart │ uptime │ cpu │ mem      │ user │ watching │
├─────────────┼────┼─────────┼──────┼──────┼─────────┼─────────┼────────┼─────┼──────────┼──────┼──────────┤
│

[2020-07-18 17:58] swvalenti194 commented on #34
how do i delete that server on the bottom list it was from an old module maybe that is what conflicting?

[2020-07-18 18:02] Bee-Mar commented on #34
it might be, and unfortunately I'm not sure. I'm not all that familiar with pm2

Something that can isolate the potential issue is by disabling the MMPM service, then trying to run the gunicorn server on it's own

`sudo systemctl stop mmpm mmpm-websssh; sudo systemctl disable mmpm mmpm-webssh`

then change directories into the root of the mmpm repo, and host the server locally

`gunicorn --worker-

[2020-07-18 18:05] swvalenti194 commented on #34
pi@raspberrypi:~ $ sudo systemctl stop mmpm mmpm-websssh; sudo systemctl disable mmpm mmpm-webssh
Failed to stop mmpm-websssh.service: Unit mmpm-websssh.service not loaded.
Removed /etc/systemd/system/multi-user.target.wants/mmpm.service.
Removed /etc/systemd/system/multi-user.target.wants/mmpm-webssh.service.
pi@raspberrypi:~ $ cd mmpm
pi@raspberrypi:~/mmpm $ gunicorn --worker-class eventlet --bi

[2020-07-18 18:06] swvalenti194 commented on #34
pi@raspberrypi:~ $ sudo systemctl stop mmpm mmpm-websssh; sudo systemctl disable mmpm mmpm-webssh
Failed to stop mmpm-websssh.service: Unit mmpm-websssh.service not loaded.
Removed /etc/systemd/system/multi-user.target.wants/mmpm.service.
Removed /etc/systemd/system/multi-user.target.wants/mmpm-webssh.service.
pi@raspberrypi:~ $ cd mmpm
pi@raspberrypi:~/mmpm $ gunicorn --worker-class eventlet --bi

[2020-07-18 18:06] Bee-Mar commented on #34
well...this makes a lot more sense as to why it's not running lol
somehow gunicorn didn't get installed

[2020-07-18 18:06] Bee-Mar commented on #34
`pip3 install gunicorn --user`

[2020-07-18 18:07] Bee-Mar commented on #34
then you can restart systemd services with `sudo systemctl enable mmpm mmpm-webssh; sudo systemctl start mmpm mmpm-webssh`

[2020-07-18 18:09] swvalenti194 commented on #34
pi@raspberrypi:~ $ sudo systemctl enable mmpm mmpm-webssh; sudo systemctl start mmpm mmpm-webssh
Job for mmpm.service failed because the control process exited with error code.
See "systemctl status mmpm.service" and "journalctl -xe" for details.
pi@raspberrypi:~ $

[2020-07-18 18:10] Bee-Mar commented on #34
can you post the output from the `journalctl -xe` command?

[2020-07-18 18:11] swvalenti194 commented on #34
pi@raspberrypi:~ $ journalctl -xe
-- Support: https://www.debian.org/support
-- Documentation: http://www.freedesktop.org/wiki/Software/systemd/multiseat
--
-- A session with the ID c12 has been terminated.
Jul 18 14:11:27 raspberrypi sshd[5218]: Accepted password for pi from 10.30.1.10
Jul 18 14:11:27 raspberrypi sshd[5218]: pam_unix(sshd:session): session opened f
Jul 18 14:11:27 raspberrypi sys

[2020-07-18 18:13] Bee-Mar commented on #34
can you try the same steps from before again and see what happens?

sudo systemctl stop mmpm mmpm-websssh; sudo systemctl disable mmpm mmpm-webssh

then change directories into the root of the mmpm repo, and host the server without NGINX

gunicorn --worker-class eventlet --bind 0.0.0.0:7890 mmpm.wsgi:app --reload

[2020-07-18 18:15] swvalenti194 commented on #34
pi@raspberrypi:~ $ sudo systemctl stop mmpm mmpm-websssh; sudo systemctl disable mmpm mmpm-webssh
Failed to stop mmpm-websssh.service: Unit mmpm-websssh.service not loaded.
Removed /etc/systemd/system/multi-user.target.wants/mmpm.service.
Removed /etc/systemd/system/multi-user.target.wants/mmpm-webssh.service.
pi@raspberrypi:~ $ cd mmpm
pi@raspberrypi:~/mmpm $ gunicorn --worker-class eventlet --bi

[2020-07-18 18:15] swvalenti194 commented on #34
Shit is it easier to just Teamview, ha!

[2020-07-18 18:17] Bee-Mar commented on #34
lol at this point it would be

[2020-07-18 18:18] swvalenti194 commented on #34
How do I PM you the creds?

[2020-07-18 18:19] swvalenti194 commented on #34
Ok, I will email you the teamview codes, let me know date and time (EST) and I will make it available

[2020-07-18 18:21] Bee-Mar commented on #34
sounds good, and again, sorry about this being so difficult

[2020-07-18 19:49] khassel commented on #21
missed that use case ...

One thing I'm struggling with is
![grafik](https://user-images.githubusercontent.com/25914086/87860691-bed56480-c93f-11ea-8122-8ab8c2b54a37.png)

Looking into code found `this.socket = io(`${this.mmpmEnvVars?.get("MMPM_MAGICMIRROR_URI")}/mmpm`, {reconnection: true});` so you try to reach `<mm-uri>/mmpm` for this. But this url doesn't work. Installed already mmpm as module

[2020-07-18 19:57] Bee-Mar commented on #21
yeah, sorry forgot to mention this lol

so, after installing the new version of mmpm, you need to create a module with `{ module: "mmpm" }`, then it also make sure the MagicMirror config.js ipWhitelist is exposing the host ip address of the MagicMirror

so `ipWhitelist: []` will make everything visible, and then you might also need to open the magicmirror in the browser, sometimes that's needed

[2020-07-18 19:59] Bee-Mar commented on #21
you can leave out the position value if you want

[2020-07-18 20:12] khassel commented on #21
now working, didn't change anything, just restarted both containers ...

Another thing was that `mmpm` was not in the module list, so I had to install it manually and add it to `External Packages`.

Concerning the `mmpm-env.json` I decided to mount the whole `/home/node/.config/mmpm` directory because this contains other stuff which should be saved on the host e.g. `mmpm-external-packages.json`

[2020-07-18 20:14] Bee-Mar commented on #21
@khassel awesome! yeah, mounting that whole directory will make things much easier for the whole process. I'm going to lay out all this stuff as clear as possible in the wiki. Also, the styling is still changing, but the core functionality appears to be solid, so once the release is up on github then you should be good to set it all up on the docker image

[2020-07-18 20:29] Bee-Mar commented on #21
also, what version of python3 did you use when setting this image up? locally, python3.7 or greater has been the sweet spot

[2020-07-18 20:36] khassel commented on #21
I'm using `node:buster-slim` as base image and install python3 with `apt-get install -y python3 python3-pip`.
At the moment, this is Python 3.7.3

[2020-07-18 20:48] Bee-Mar commented on #21
cool, that should be great

[2020-07-18 20:48] Bee-Mar commented on #21
also, thank you a bunch for 1) deciding to create the docker image of this, and 2) maintaining it

[2020-07-18 22:07] khassel commented on #21
Finally I did an automated build and tested the rpi-image.

The images using your `develop` branch are available as `karsten13/mmpm:develop`.

Meanwhile (already before the new mmpm release) I ended up with this build process:
- build gui (results can be used by arm and amd64)
- build arm and amd64 executables
- put things together in slim runtime-image

[2020-07-18 22:21] Bee-Mar commented on #21
nice! that's a good test bed for the whole thing
i'll give it a shot later today also

[2020-07-19 14:57] Bee-Mar commented on #21
@khassel also, I just realized I hadn't mentioned this, but the `node_helper.js` and `mmpm.js` files at the root of the repo should be added in a module folder,

assuming you've cloned `mmpm` into your home directory

so `mkdir -p MMPM_MAGICMIRROR_ROOT/modules/mmpm ; ~/mmpm/*js MMPM_MAGICMIRROR_ROOT/modules/mmpm`

that'll activate the hiding and toggling

[2020-07-19 15:18] khassel commented on #21
thats what I already meant with the sentence above ...

With the new release `mmpm` needs to be installed as module in mm, but is not avaliable to choose from within the `mmpm` gui.

So I think it should be installable from within the gui or the manual steps you mentioned above should be done automatically (plus inserting in `config.js` ?).

[2020-07-19 16:06] Bee-Mar commented on #21
gotcha. I'll definitely make the instructions clear for people on the wiki. Also, I'm going to have the CLI available on PyPI. It's up there right now, so you can actually just run `pip3 install mmpm` from terminal without having to clone the repo. I'm going to see how the GUI might get bundled into something, or maybe have it up on npm. Havent' quite figured that out just yet lol

[2020-07-21 21:52] Bee-Mar commented on #34
@swvalenti194 closing this since you’ve been able to install it via email confirmation

[2020-07-21 21:52] #34 closed

[2020-07-24 21:17] Bee-Mar commented on #21
@khassel i'm prepping to release everything shortly, and the installation method is almost certainly not going to work well for the docker image. I can setup a suitable `make` target for you so that whenever a new version comes out it'll be cleaner, but for today it'll almost certainly break things.

The installation method for the whole package will now just be `pip3 install mmpm --user` followed

[2020-07-25 11:35] requiemmg opened #35 "When using multiple pages, only fixed modules are shown as active"
See the title. Only fixed modules are shown as active in the MMPM GUI Control Center with MMM-pages.

![grafik](https://user-images.githubusercontent.com/11157808/88456162-c2a34280-ce7b-11ea-9086-462b949c9baa.png)

[2020-07-25 13:01] Bee-Mar commented on #35
can you provide your `config.js` so I can try to replicate this?

[2020-07-25 13:12] requiemmg commented on #35
Mailed it to your protonmail-address as it is a bit lenghty.
Basically, top reproduce: set up MMM-Pages with 2 or more pages, assign modules, assign fixed modules.

[2020-07-25 13:24] Bee-Mar commented on #35
@requiemmg just saw it come through. Could you resend it as an attachment? Copying and pasting it into the body of the email distorted the placement of lines when trying to place it into a file.

[2020-07-25 13:57] requiemmg commented on #35
done

[2020-07-25 14:02] Bee-Mar commented on #35
Cool, I’ll take a look at it tomorrow when I have a chance. It’ll probably be at least a week before I push a new version to contain a bug fix since I released the new version yesterday and want to see if there are other fixes I can include.

[2020-07-25 21:29] khassel commented on #21
[code]

I need `mmpm install --gui -y` or the `make` target you mentioned.

[2020-07-25 21:34] Bee-Mar commented on #21
If the root user on your docker image doesn’t need a password to install you could just pipe the yes command.

yes | mmpm install —gui

I intentionally left out the yes option as a possibility because I wanted to user to know it’ll use sudo.

I’ve used the piping above in my own testing on a raspberry pi 3 and 4.

[2020-07-25 21:35] Bee-Mar commented on #21
If that still isn’t exactly what you need, then I can set up a make target that’ll do what’s needed.

[2020-07-25 21:35] khassel commented on #21
[code]

next problems, I think we need another procedure ...

[2020-07-25 21:45] khassel commented on #21
This was my gui build before:

[code]

no python required and systemctl commands paralysed ...

[2020-07-25 21:46] Bee-Mar commented on #21
Yeah looks like it. The ‘install —gui’ subcommand tries time start an NGINX daemon, which isn’t going to work in a docker image.

Do you have discord? If so, you can email me your username and ID so we can discuss it easier.

[2020-07-25 21:47] Bee-Mar commented on #21
K, I’ll be able to work on a make target tomorrow morning.

I’ll name it ‘docker’ so you’ll be able to call ‘make docker’ after cloning.

[2020-07-25 21:49] khassel commented on #21
Thanks, will wait for this, it's already late, local time 23:49 ...

[2020-07-26 12:52] khassel commented on #21
@Bee-Mar don't investigate in this, I think I found a solution ... coming back later.

[2020-07-26 14:56] Bee-Mar commented on #21
@khassel okay. all the static files and systemd files are located in the package after doing a `pip install`, and assuming it installs in `/usr/local/lib/` you could find the static files and systemd files with something like:

[code]

you would need the files in `static`, `templates`, and `etc`.

`static` and `templates` would need to be extracted to `/var/www/mmpm`, and the entire `etc` director

[2020-07-26 15:51] khassel commented on #21
The `latest` images are now containing mmpm version 2.01.

[2020-07-26 15:53] Bee-Mar commented on #21
awesome. I'm going to go ahead and close this as being an issue on the repo as well

[2020-07-26 15:53] #21 closed

[2020-07-26 16:33] Bee-Mar commented on #35
@requiemmg using your config and a clean install of MagicMirror, all the modules display for me in the Control Center. Would it possible for you to try backing up your config file, reinstalling your modules, then trying it again?

[2020-07-26 19:33] requiemmg commented on #35
Well, I actually have a clean install of MM, as I was having troubles with freezing Raspis in the past.
Now, I've set up my 2 R3B+, both are running smooth and without freeizing issues. Also, mmpm 1.x and 2.x are running fine, just the issue mentioned. Beside MagicMirror, only LightsOut (www.green-it-software.com) client is running on the machines. Fresh Raspian Buster images.
I used @samdetweil's

[2020-07-26 20:16] tkg61 opened #36 "MMPM not detecting Magic Mirror upgrade"
When running “mmpm update” it reports no upgrade needed for my 2.11 install when i am getting an alert that 2.12 is available.

<img width="1366" alt="MagicMirror Package Manager" src="https://user-images.githubusercontent.com/3945114/88488469-4d0ea380-cf5b-11ea-9a40-01d6b577ffcd.png">

Any suggestions?

[2020-07-26 20:22] tkg61 commented on #36
<img width="1366" alt="MagicMirror Package Manager" src="https://user-images.githubusercontent.com/3945114/88488585-2604a180-cf5c-11ea-8d42-65a94a2a1c33.png">

Here is a screenshot of the logs

[2020-07-26 20:48] Bee-Mar commented on #36
is `MMPM_MAGICMIRROR_ROOT` set properly in your `mmpm env`?

[2020-07-26 20:54] Bee-Mar commented on #36
also, out of curiosity, what application is checking for updates to MagicMirror besides MMPM? I have an idea of what kind of mechanism might be causing this issue, but I'll need the names of other applications that are checking.

[2020-07-26 22:19] Bee-Mar commented on #35
you should definitely remove the installation of mmpm 1.x, that'll cause conflicts with execution

[2020-07-27 00:17] tkg61 commented on #36
Yup, the root is set to be /home/pi/MagicMirror

The Magic mirror application itself is doing the check and using the [update notification](https://github.com/MichMich/MagicMirror/tree/master/modules/default/updatenotification) module

Here is the output, basically nothing, so it makes sense why its not seeing it :) :

<img width="1366" alt="MagicMirror Package Manager" src="https://user-images.gi

[2020-07-27 00:19] tkg61 commented on #36
So maybe the update notification is doing it? I don’t recall running the command myself, i think before i upgraded MMPM i tried running its upgrade command To upgrade MM but it hadn’t done anything so maybe I’m just in a weird limbo state and need to see what happens next MM update?

[2020-07-27 00:44] Bee-Mar commented on #36
well....here's the culprit in the update notification module

https://github.com/MichMich/MagicMirror/blob/018cb9152689b1f1f262e6f3bfbf71cc99a9e59c/modules/default/updatenotification/node_helper.js#L75

[code]

this is running a normal `git fetch`, which retrieves the changes made to the repo. I may need to make a pull request to MagicMirror to change this. If it were running as `git fetch --dry-r

[2020-07-27 05:22] requiemmg commented on #35
"make uninstall" was actually the first thing I did before installing MMPM2

[2020-07-27 16:22] Bee-Mar commented on #30
@julianCast have you read the wiki pages that detail how to set this up?

https://github.com/Bee-Mar/mmpm#tldr-whats-the-installationremoval-process

https://github.com/Bee-Mar/mmpm/wiki/MMPM-Environment-Variables

https://github.com/Bee-Mar/mmpm/wiki/Installed-Modules-Are-Not-In-Local-Packages!

[2020-07-27 16:22] julianCast commented on #30
So, after updating to the v2 Im getting again the 404 no modules installed.

![Screenshot (57)](https://user-images.githubusercontent.com/559677/88566202-fcb84400-d035-11ea-9d79-f64a795eb6f0.png)

[2020-07-27 16:23] Bee-Mar commented on #30
that is the web interface of the old version. How did you install version 2.01?

[2020-07-27 16:25] julianCast commented on #30
[code]

[2020-07-27 16:26] julianCast commented on #30
Ok, reboot did apply the changes, but same error.
![Screenshot (58)](https://user-images.githubusercontent.com/559677/88566640-997ae180-d036-11ea-8a29-7c959c76d76e.png)

[2020-07-27 16:26] Bee-Mar commented on #30
what displays when you run `mmpm -v` and `mmpm -h`

[2020-07-27 16:27] Bee-Mar commented on #30
also, have you read the wiki page on how to configure the environment variables? the setup for those has changed completely.

https://github.com/Bee-Mar/mmpm/issues/30#issuecomment-664497689

[2020-07-27 16:28] julianCast commented on #30
I  think it may be that my magic mirror is an OS, so docker compose.. so your MMPM_MAGICMIRROR_DOCKER_COMPOSE_FILE must be used. My mistake Im sure

[2020-07-27 16:29] Bee-Mar commented on #30
make sure you edit the file using `mmpm open --env`. These are not shell environment variables anymore.

[2020-07-27 16:30] julianCast commented on #30
Wow, you are right, big changes. Now is actually easier, once I edit the file Ill put here the data. Thanks!

[2020-07-27 16:32] Bee-Mar commented on #30
sounds good

[2020-07-27 16:59] julianCast commented on #30
So, after change the config file, mmpm only find 2 modules.

My config

GUI Only find 2modules

![Screenshot (61)](https://user-images.githubusercontent.com/559677/88569507-d21cba00-d03a-11ea-9990-59e06faecd53.png)

My modules content, has more than 2 modules:

![Screenshot (63)](https://user-images.githubusercontent.com/559677/88569776-39d30500-d03b-11ea-993f-926791f39a46.png)

[2020-07-27 17:00] julianCast commented on #30
Ok , it is because of this https://github.com/Bee-Mar/mmpm/wiki/Help!-Installed-Modules-Are-Not-In-Local-Packages!

[2020-07-27 17:06] Bee-Mar commented on #30
@julianCast once you've done the above, please let me know if everything displays properly

[2020-07-27 17:33] julianCast commented on #30
After manual uninstalling the modules and installing using your mmpm noware shown in the local package. 👍

The only thing missing is the "Actives modules" panel, I've done everything from https://github.com/Bee-Mar/mmpm/wiki/Status,-Hide,-Show-MagicMirror-Modules. I have magicmirrorOS (docker based), I've try setting `/home/pi/magicmirror/run/docker-compose.yml` as a URL or "" but no luck..

[2020-07-27 17:41] Bee-Mar commented on #30
@julianCast please check that the `mmpm` module is actually installed in your modules directory.

From the config you posted above, make sure `"/home/pi/magicmirror/mounts/modules/mmpm` exists after installing the MMPM MagicMirror module. Also, make sure you've added `{ module: "mmpm" }` to your `config.js`

[2020-07-27 17:53] sonicgoose opened #37 "Install w/ virtualenv yields "mmpm is not installed""
Followed the instructions for installing with a virtual environment but "sudo mmpm install --gui" yields the response "mmpm is not installed." Have tried several times.

[2020-07-27 17:57] Bee-Mar commented on #37
You should run `sudo mmpm install --gui`, when you run `mmpm install --gui` you'll be prompted for your root password, if one is present. When you run `sudo mmpm install --gui`, it looks for the `mmpm` executable on the root user's PATH, which won't exist in the virtualenv.

[2020-07-27 18:03] sonicgoose commented on #37
pi@raspberrypi:~ $ sudo apt-get update
Hit:1 http://archive.raspberrypi.org/debian buster InRelease
Hit:2 https://deb.nodesource.com/node_10.x buster InRelease
Get:3 http://raspbian.raspberrypi.org/raspbian buster InRelease [15.0 kB]
Fetched 15.0 kB in 2s (7,038 B/s)
Reading package lists... Done
pi@raspberrypi:~ $ sudo apt-get install python3 nginx-full
Reading package lists... Done
Building depe

[2020-07-27 18:10] Bee-Mar commented on #37
It's very unclear was what I'm looking at with all of the redacted text, and from the commands I see above, there's nothing that shows the virtualenv was ever created. It doesn't look like you created a virtualenv, because it says the `./.local/lib/python3.7/site-packages (from mmpm) (1.1.1)` requirement is already met. This says mmpm is installed in your `--local` path

[2020-07-27 18:12] Bee-Mar commented on #37
please recreate it with the following:

[code]

[2020-07-27 18:23] Bee-Mar commented on #37
@sonicgoose also, i just realized there was a typo in the readme, it shouldn't be `source ~/.bashrc ~/.venv/bin/activate`. They should be source separately, which is now reflected in the readme.

[2020-07-27 18:35] julianCast commented on #30
Yes, the mpmm folder is there
![Screenshot (65)](https://user-images.githubusercontent.com/559677/88578117-588bc880-d048-11ea-81e6-5681f3928052.png)
Yes, the module is in the config file
![Screenshot (67)](https://user-images.githubusercontent.com/559677/88578313-a1438180-d048-11ea-9d99-04871e66cc0d.png)

I have refresh everything but no working the active modules panel

[2020-07-27 18:38] Bee-Mar commented on #30
please download the log files and attach them

[2020-07-27 18:42] sonicgoose commented on #37
Finally got it running. I noticed you had me skip over both of these:

# OPTION 1: you can add the venv to your PATH
$ echo "export PATH=$PATH:~/.venv/bin" >> ~/.bashrc

# OPTION 2: create an alias
$ echo "alias mmpm=~/.venv/bin/mmpm" >> ~/.bashrc

I had tried both in the past with no success.

Now — how do I access the gui web gui from a remote workstation? Seems to work only from the pi on which

[2020-07-27 18:45] Bee-Mar commented on #37
I removed the alias recommendation and the bashrc sourcing from the wiki after realizing it probably just adds confusion. The gui address will be a the ip address of the device hosting your magicmirror and is running on port 7890, and you should be able to get it with `mmpm list --gui-url`.

If your MagicMirror host is running on 192.168.0.10, the GUI will be located at `http://192.168.0.10:7890`

[2020-07-27 18:49] Bee-Mar commented on #37
when you say remote workstation, do you mean external to your local network?

[2020-07-27 18:51] sonicgoose commented on #37
No, on my local network. It does work with the lan url but does not show the list of active modules, despite having set the ipwhitelist correctly.
On Jul 27, 2020, 14:49 -0400, Brandon Marlowe <notifications@github.com>, wrote:

[2020-07-27 18:52] Bee-Mar commented on #37
follow the instructions here: https://github.com/Bee-Mar/mmpm/wiki/Status,-Hide,-Show-MagicMirror-Modules

[2020-07-27 18:59] Bee-Mar commented on #37
I'm going to close this issue since the issue posted is resolved, but feel free to ask anymore questions in this thread.

[2020-07-27 18:59] #37 closed

[2020-07-27 19:13] Bee-Mar commented on #30
@julianCast have you opened magicmirror in your browser after restarting magicmirror, then refreshed the MMPM control center?

[2020-07-27 19:15] julianCast commented on #30
Yep, I refreshed it and then the UI, and also did the command terminal. Even a full raspberry restart.
I'll attach the logs asap

[2020-07-27 19:20] Bee-Mar commented on #30
The address you have here:

[code]

Is `magicmirroros` the address that's listed in your docker-compose file?

Try replacing the `MMPM_MAGICMIRROR_URI` with the network ip address of the device you have MMPM installed on.

[2020-07-27 19:23] Crowlord opened #38 "Removal instructions"
mmpm uninstall --gui; pip3 uninstall -y mmpm

should read

mmpm remove --gui; pip3 uninstall -y mmpm

[2020-07-27 19:25] Bee-Mar commented on #38
@Crowlord lol, my bad. good catch, and I'll change that. That's what I get for going back and forth between pip, apt, and mmpm commands while writing the wiki.

[2020-07-27 19:25] #38 closed

[2020-07-27 19:29] Bee-Mar commented on #30
@julianCast also, i'm going to close this issue, since the primary reason for it being opened has been resolved. Feel free to ask anymore questions in this thread.

[2020-07-27 19:29] #30 closed

[2020-07-27 19:56] julianCast commented on #30
[mmpm-logs-2020-6-1.zip](https://github.com/Bee-Mar/mmpm/files/4984129/mmpm-logs-2020-6-1.zip)

I can access via browser with either "http://magicmirroros:8080/" or "http://192.168.1.118:8080/" but with none of them I could enable your feature (MMPM_MAGICMIRROR_URI).
"
![Screenshot (70)](https://user-images.githubusercontent.com/559677/88585868-ecaf5d00-d053-11ea-8b0d-d3bd949e994d.png)

[2020-07-27 20:00] julianCast commented on #30
This log is interesting, after doing `mmpm mm-ctl --status` I get this:

[code]

[2020-07-27 20:02] Bee-Mar commented on #30
@julianCast i'm wondering if this has something to do with the docker image you're using. Can you paste your docker-compose.yml?

[2020-07-27 20:21] julianCast commented on #30
docker compose (/home/pi/magicmirror/run)
[code]

[config.zip](https://github.com/Bee-Mar/mmpm/files/4984223/config.zip)

[2020-07-27 23:02] Bee-Mar commented on #30
using your config, and docker-compose file everything shows up on the active modules for me. Can you try doing a `docker-compose down`, then `docker-compose up -d`? I'm not sure if it's been getting restarted with `docker-compose restart instead`.

From the message `Received packet MESSAGE data 4/mmpm,"Invalid namespace"`, it seems like the MagicMirror isn't picking up on that module. I was able t

[2020-07-27 23:07] Bee-Mar commented on #30
something else I noticed is that from your config, the calendar url isn't defined, and it caused a runtime error in MagicMirror. After I removed the calendar module, everything worked fine.

[2020-07-27 23:10] Bee-Mar commented on #35
still looking into this

[2020-07-27 23:13] Bee-Mar commented on #35
are there possibly any run-time issues with MagicMirror? If you open your browser to the MagicMirror URL and open the developer console in your browser by pressing F12 (it most likely is F12 if you have firefox or chrome), do any errors display?

[2020-07-28 06:53] julianCast commented on #30
Yes, I removed to calendar url before attaching it here  because it's a private url.

[2020-07-28 14:02] Bee-Mar commented on #30
@julianCast have you tried performing the `docker-compose down; docker-compose up -d` steps? Also, when you start magicmirror, open it in your web browser, and press F12 on your keyboard to see the developer console. See if there are any run-time errors MagicMirror is encountering.

[2020-07-28 15:37] julianCast commented on #30
I did both commands in my path, it did remove and  recreate de mm, but no difference.
The dev console shows no error, only a  404 module no longer installed so I remove it from the config.

How weird, that is the only thing I cant achieve with your mmpm.

[2020-07-28 17:07] requiemmg commented on #35
I can't see such errors. I've installed MMM-Logging, made a complete uninstall of MMPM again and installed MMPM from scratch, before that I cleared the logs with pm2.
I will check and send you relevant logs if I see something. (Or if the problem persists, maybe you see something that I am missing)

[2020-07-29 02:55] Bee-Mar commented on #35
sounds good, keep me updated

[2020-07-29 02:57] Bee-Mar commented on #30
can you try MMPM with a default config file and see if that works? It'll help eliminate the possibility of any of your installed modules causing issues. If that works, slowly add your configuration back in, piece by piece.

[2020-07-29 04:00] Bee-Mar commented on #36
@tkg61 I submitted a pull request to MagicMirror for this

[2020-07-30 20:57] amarand opened #39 "Version in GUI and/or CLI?"
Is there a way to determine which version of MMPM I have installed on my system?

It would be nice to have a -v or --version command on the CLI, but also a "version"/"info" button somewhere in the GUI as well.

Thanks!

[2020-07-30 21:08] Bee-Mar commented on #39
@amarand there is in the CLI, and I definitely will be adding one for the GUI in the next update.

You can list the version in the CLI with `mmpm -v` or `mmpm --version`

[2020-07-30 21:08] #39 closed

[2020-08-01 15:21] Bee-Mar commented on #35
@requiemmg any update?

[2020-08-02 15:50] requiemmg commented on #35
No, I have a new problem with MMPM on my main/test mirror (which is funny because the other mirror is actually is a CLONE) - i get NGINX Bad Gateway error. Uninstalled, uninstalled virtualemnv, reinstalled - works. As soon as I reboot - nginx bad gateway. ALready wrote in the forums, no answers to that.

[2020-08-02 17:38] Bee-Mar commented on #35
so, a bad gateway would usually be due to a port being in use already, or for some reason the `gunicorn` process isn't starting. If you could run `sudo systemctl status mmpm mmpm-webssh` and `journalctl -xe`, then post the output I should be able to spot what's going on.

[2020-08-02 17:48] requiemmg commented on #35
Of course:

pi@SmartMirror2:~ $ sudo systemctl status mmpm mmpm-webssh
● mmpm.service - MMPM Gunicorn daemon
   Loaded: loaded (/etc/systemd/system/mmpm.service; enabled; vendor preset: enabled)
   Active: active (running) since Sun 2020-08-02 18:14:08 CEST; 1h 32min ago
 Main PID: 407 (gunicorn)
   Status: "Gunicorn arbiter booted"
    Tasks: 2 (limit: 1604)
   Memory: 38.9M
   CGroup: /system.sl

[2020-08-02 18:02] Bee-Mar commented on #35
okay, so i think I know what's going on. You say you have a virtualenv right? I see that the systemd file is pointing to your gunicorn executable in `/home/pi/.local/bin`, which is not inside a virtualenv. If you are operating MMPM within a virtualenv, try installing the GUI by running `mmpm install --gui`, then see if that is pointing to the same location.

[2020-08-02 18:07] Bee-Mar commented on #35
also, i'm not sure why, but there's an unsigned value on line 4 of the systemd file for webssh apparently based on that message. That's pretty odd

[2020-08-02 18:11] Bee-Mar commented on #35
@requiemmg do you happen to have discord?

[2020-08-02 20:13] requiemmg commented on #35
Hi,

I have my own Teamspeak server and I might setup discord, but not tonight. Something is FUBAR on my installation on this mirror and I will restore from a former backup when MMPM2 GUI was running fine.
For virtualenv: I uninstalled it today in a new try to get everything up and runinng. Did so because your installation wiki manpages have changed, and I reinstalled without virtualenv.

As I sai

[2020-08-02 20:50] Bee-Mar commented on #35
@requiemmg sounds good, and yeah, I'm in the process of separating things out so the instructions are more digestable. I'm going to add a separate tab with instructions for a virtualenv installation.

[2020-08-03 12:12] Bee-Mar commented on #36
@tkg61 until the merge request is accepted, I would suggest removing the `updatenotification` module from your config.js if you would like for the updates to be handled through MMPM.

[2020-08-11 13:08] Mattrees007 opened #40 "502 BAD Gateway"
![Annotation 2020-08-11 140647](https://user-images.githubusercontent.com/35176916/89900714-01efc400-dbdc-11ea-931d-00a40a6ab880.png)
[mmpm-logs-2020-8-11.zip](https://github.com/Bee-Mar/mmpm/files/5057119/mmpm-logs-2020-8-11.zip)

Ive installed mmpm. no appraent issues.

the web page worked once then stopped working with the attached screenshot.

[2020-08-11 13:15] Bee-Mar commented on #40
@Mattrees007 Please attach the log files, per the instructions on the [README](https://github.com/Bee-Mar/mmpm#look-to-the-wiki)

[2020-08-11 13:22] Mattrees007 commented on #40
[mmpm-logs-2020-8-11.zip](https://github.com/Bee-Mar/mmpm/files/5057195/mmpm-logs-2020-8-11.zip)

[2020-08-11 13:37] Bee-Mar commented on #40
Can you also please copy and paste the command string below, then attach the generated file, which will be named `mmpm-error-output.log`
[code]

[2020-08-11 14:47] Mattrees007 commented on #40
[mmpm-error-output.log](https://github.com/Bee-Mar/mmpm/files/5057605/mmpm-error-output.log)

as requested

[2020-08-11 23:13] Bee-Mar commented on #40
Gotta say, I'm a little stumped right now. There's nothing in that log file that shows any fatal errors.

Could you also get the files from NGINX? Maybe there's something in there.

[code]

The resulting file from the command up above will be in whatever your current directory is.

Additionally, you can try making sure the ports MMPM needs are accessible by using `ufw`. It may not be installed, so

[2020-08-12 08:47] Mattrees007 commented on #40
[mmpm-access.log.2.gz](https://github.com/Bee-Mar/mmpm/files/5061574/mmpm-access.log.2.gz)

Many thanks!
logs attached

[2020-08-12 08:54] Mattrees007 commented on #40
![Annotation 2020-08-12 095131](https://user-images.githubusercontent.com/35176916/89995502-76307300-dc81-11ea-92a1-fb66fd5b51b2.png)

There was no change when adding the firewall rules

[2020-08-12 08:55] Mattrees007 commented on #40
after restarting nginx MMPM sprang into life.
![Annotation 2020-08-12 095410](https://user-images.githubusercontent.com/35176916/89995783-e212db80-dc81-11ea-8eb8-7ae3165e2755.png)

Should i be concerned by the message in ACtive modules?

[2020-08-12 10:04] Mattrees007 commented on #40
however, after i do `sudo reboot` i have to
[code]

otherwise its "Bad Gateway" again

[2020-08-12 20:07] requiemmg commented on #35
Update: no update. After restoring my second MM, both GUI frontends are working again. Both only show the fixed modules as active, the per-page-modules defined in MMM-Pages are not being shown as active.
No errors in my logs.

[2020-08-13 21:26] Bee-Mar commented on #40
@Mattrees007 that is really weird. I'm wondering if NGINX didn't install properly. It might be worth trying to reinstall NGINX, because having to restart the service each time is very strange. Also, you should only have to run `sudo systemctl enable nginx` once, just as an FYI.

You can reinstall NGINX with `sudo apt install --reinstall nginx-full -y`

As for the warning message about the active m

[2020-08-13 21:27] Bee-Mar commented on #36
@tkg61 as an update, the pull request I made for MagicMirror has been merged into the develop branch, so the issue should get resolved whenever that's integrated into the next release

[2020-08-13 21:27] Bee-Mar commented on #35
@requiemmg This is definitely baffling. Do you happen to have any kind of router setup or firewall settings that are atypical?

[2020-08-13 21:38] Bee-Mar commented on #40
@Mattrees007 I decided to glance real quick at the `mmpm-error*` log files, and noticed things like `No such file or directory` and `permission denied` when NGINX was looking for the static files. Did you by chance install `mmpm` using sudo?

[2020-08-13 21:38] khassel commented on #36
fyi: MM releases are only quarterly, next is Oct. 1.

[2020-08-13 21:43] Bee-Mar commented on #36
@khassel yep, it'll be a little bit. The only bandaid right now would be for people to remove or comment out the `updatenotification` module from their config.js. That'll prevent MagicMirror from running `git fetch` and siphoning the remote git data

[2020-08-14 06:26] requiemmg commented on #35
No, not at all.
The bug does not annoy me as everything else is working as intended, but it's definetely strange.

[2020-08-19 23:46] kjgoodwin299 opened #41 "error on execution of pip3 install"
Working on my first magic mirror installation. I did a clean install of raspberry pi os and then installed magic mirror and successfully was able to start up. I now moved on to install MMPM and I’m receiving the following error when I execute pip3 install --upgrade --no-cache-dir mmpm:

Command “/usr/bin/python3 -m pip install --ignore-installed --no-user --prefix /tmp/pip-build-env-e41bnr3i --no-

[2020-08-19 23:57] Bee-Mar commented on #41
What version of Python3 and pip or pip3 do you have installed?

Please post the output from the following commands:
`python3 --version`
`pip3 --version`
`pip --version`

[2020-08-20 00:01] kjgoodwin299 commented on #41
Thanks for the help Bee-Mar, I'm sure I'm missing something.  here is the output.
pi@raspberrypi:~ $ python3 --version
Python 3.7.3
pi@raspberrypi:~ $ pip3 --version
pip 18.1 from /usr/lib/python3/dist-packages/pip (python 3.7)
pi@raspberrypi:~ $ pip --version
pip 18.1 from /usr/lib/python2.7/dist-packages/pip (python 2.7)

[2020-08-20 00:09] Bee-Mar commented on #41
Can you also post the file that will result from this?

`python3 -m pip install -v --user mmpm > mmpm-install-output.log`

You can drag and drop the `mmpm-install-output.log` file into a comment box.

[2020-08-20 00:21] kjgoodwin299 commented on #41
[mmpm-install-output.log](https://github.com/Bee-Mar/mmpm/files/5099972/mmpm-install-output.log)

[2020-08-20 00:25] Bee-Mar commented on #41
@kjgoodwin299 From the output, the only error I'm seeing is that you're missing the `ffi.h` header file. You can install the headers for that package with `sudo apt install libffi-dev`. There might be other missing dependencies that emerge after installing that, but at least it'll most likely move things along.

Why that isn't present on your system already is interesting though

[2020-08-20 00:51] kjgoodwin299 commented on #41
That did the trick.  Interesting problem, the install was done off a fresh full raspberry pi os that had been updated and then magic mirror installed, so about as clean as it gets.  No idea what caused it.  Thanks so much for your help!

[2020-08-20 00:51] #41 closed

[2020-08-20 00:53] Bee-Mar commented on #41
@kjgoodwin299 no problem! yeah, it is odd. I've tested the mmpm installation a few times after fresh raspbian installs, and never encountered that issue

[2020-08-26 08:21] cluelesscarter opened #42 "BUG: Install not working"
**Describe the Bug**

Hey, for install I used the Terminal as instructed, tried it both within Modules folder and on /root, but no files are downloaded and I receive the following error at the end of the Terminal.

  ----------------------------------------
Command "/usr/bin/python3 -m pip install --ignore-installed --no-user --prefix /tmp/pip-build-env-m_efiawx --no-warn-script-location --no-bina

[2020-08-26 08:30] Bee-Mar commented on #42
You're missing the `ffi.h` header file, and you should be able to fix the issue with `sudo apt install libffi-dev`

[2020-08-28 05:04] stopspazzing commented on #40
I have same exact issue. migrated from 1.xx and got bad gateway, started purging everything and reinstalling and get 502 unless restart nginx.

Curiously I am also not able to load the modules, with 0.0.0.0 set as ip and ipwhitelist blank. I get these errors:

[code]

[2020-08-28 11:59] Bee-Mar commented on #42
@cluelesscarter any update on this?

[2020-08-28 20:17] stopspazzing opened #43 "Migrate from Nginx to Python Webserver? (ex. Gunicorn)"
Curious why not move away from Nginx and stick with python only based server? Gunicorn is already installed and can do everything you are doing with Nginx without the need for more dependencies?

[2020-08-29 13:34] Bee-Mar commented on #43
@stopspazzing that is a good point. To be honest, I never really worked with the python webserver, and had already tied myself to nginx with this project in the beginning. However, moving the the python webserver would certainly keep everything more simplified

[2020-08-29 13:37] Bee-Mar commented on #40
@stopspazzing hmm, that is interesting. In theory having an ipv6 address set shouldn't make a difference. This could be something that I'll need to dive into MagicMirror's code base to figure out.

[2020-08-29 13:37] Bee-Mar commented on #35
@requiemmg well, at least that's good to know, but it's still really odd

[2020-08-29 16:08] josdemmers commented on #42
I had the same issue during installation. For me running "apt install libffi-dev -y" fixed it.

[2020-08-29 16:22] josdemmers opened #44 "BUG: Rotate feature not working"
**Describe the Bug**

Using the rotate feature in the web interface throws an error.
`Error Code: 500
Message: Http failure response for http://192.168.1.149:7890/api/raspberrypi/rotate-screen: 500 INTERNAL SERVER ERROR`

Log file mentions the following exception:
`Exception on /api/raspberrypi/rotate-screen [POST]`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the web interface and

[2020-08-29 20:59] Bee-Mar commented on #44
@josdemmers well, the problem is easily fixable here. I'll push a fix to develop then to master shortly

[2020-08-29 22:25] Bee-Mar commented on #44
@josdemmers closing this. The fix has been pushed, and you can download the new version using `pip3 install --upgrade --no-cache-dir mmpm`

[2020-08-29 22:25] #44 closed

[2020-08-30 14:07] josiy3 opened #45 "Not all package are shown and updated"
Hi, i've the problem that "mmpm update" only show 2 modules and not all. What can I do?
env variables are correct. I've no idea what the problem is. All modules function properly on my mirror.

Can you help?
Thanks

[2020-08-30 14:20] Bee-Mar commented on #45
@josiy3 please re-create the issue using the bug report template. There isn't any useful information for me to go off from what you've just stated.

[2020-09-02 22:22] Bee-Mar commented on #42
@cluelesscarter closing this due to inactivity

[2020-09-02 22:22] #42 closed

[2020-09-02 22:23] Bee-Mar commented on #45
@josiy3 please re-open this issue with more information provided by filling out the bug template after clicking "New issue"

[2020-09-03 21:12] ParaDescartar123 commented on #40
I'm getting the same thing.

I reinstall nginx and it seems to work for a few minutes, but then it faisl again.

Then I try this:

sudo systemctl restart nginx

Same thing, works for a few minutes and then it stops working.

[2020-09-05 00:34] Bee-Mar commented on #40
@ParaDescartar123 can you provide your log files? it might provide a clue about what's going on. You can use the CLI and run `mmpm log --zip`, or download them through the GUI in the control center

[2020-09-05 01:33] ParaDescartar123 commented on #40
Log files attached, but it seems to be more stable and hasn't stopped working for the last 5 hours after I did this:

sudo systemctl restart nginx

[mmpm-logs-2020-8-5.zip](https://github.com/Bee-Mar/mmpm/files/5177414/mmpm-logs-2020-8-5.zip)

[2020-09-05 01:39] Bee-Mar commented on #40
@ParaDescartar123 sorry, forgot to also ask for the NGINX logs, can can you attach the zip from created from the command below:

`zip -r mmpm-nginx-logs.zip /var/log/nginx/mmpm-{access,error}.log*`

[2020-09-05 11:35] josiy3 opened #46 "mmpm don't update all modules"
**Describe the Bug**

Is this an issue with the CLI or GUI?

Is this something that should be put in the Wiki?

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applic

[2020-09-05 11:53] josiy3 commented on #46
Describe the Bug

Is this an issue with the CLI or GUI?
* on both

Is this something that should be put in the Wiki?
* i dont think so

A clear and concise description of what the bug is.
with "mmpm update" only two modules and the magicmirror itself updated. All other modules are ignored

To Reproduce
*yes, the same result everytime i try it

Steps to reproduce the behavior:
* console: mmpm updat

[2020-09-05 11:53] josiy3 commented on #46
Can you help?

[2020-09-05 15:46] Bee-Mar commented on #46
@josiy3 please check out this page ( https://github.com/Bee-Mar/mmpm/wiki/MMPM-Isn't-Displaying-Available-Upgrades! ) on the wiki and see if it may help

Also, not related to the issue, but you should set `MMPM_MAGICMIRROR_DOCKER_COMPOSE_FILE` to

`MMPM_MAGICMIRROR_DOCKER_COMPOSE_FILE: ""`

instead of

`MMPM_MAGICMIRROR_DOCKER_COMPOSE_FILE: "."`

in your environment configuration

[2020-09-05 15:57] josiy3 commented on #46
@Bee-Mar thanks! I try it with the docker env variables.
Your first help to comment the update notification out i've tried before. Nothing changed.

[2020-09-05 22:26] pyrosmiley commented on #40
Hopping on here because I'm running into the same issue. have to restart the `nginx` daemon before it works. Fortunately, I just installed last night so I was able to go back through and confirm that I did _not_ install mmpm with `sudo`. I'll attach the mmpm and nginx logs for you. Let me know if there's anything else I can try!
[mmpm-nginx-logs.zip](https://github.com/Bee-Mar/mmpm/files/5178768/m

[2020-09-06 09:48] josiy3 commented on #46
Hi, i've tried it but nothing changed. Any other ideas?

[2020-09-06 15:25] Bee-Mar commented on #46
@josiy3 if you run `mmpm list -i`, are all of your installed packages listed?

[2020-09-06 15:29] josiy3 commented on #46
@Bee-Mar : No, only two modules are shown.

[2020-09-06 15:29] Bee-Mar commented on #40
@pyrosmiley just curious, do you have pi-hole or anything like that installed on the same device?

[2020-09-06 15:32] Bee-Mar commented on #46
@josiy3 and you originally installed all the modules using mmpm? sorry for all the piecemeal questions

[2020-09-06 16:16] josiy3 commented on #46
No, I install the modules and after that (mirror works 2 years for me :-) )

[2020-09-08 22:51] stopspazzing commented on #43
Actually, I'm confused also why not just use straight nodejs? Since this is adding 2 more major dependencies.

[2020-09-08 23:00] Bee-Mar commented on #43
@stopspazzing using nodejs as the server would introduce more complexity. The whole API is written in python, and converting it to nodejs is not something I want to do. I intentionally chose python because javascript (in my opinion) is absolutely horrible and I tried decoupling MMPM as much as possible from MagicMirror to allow for more flexibility with managing the mirror while it’s offline

[2020-09-10 17:25] pyrosmiley commented on #40
Nope, it's a fresh install of base raspbian only running the mirror software. I installed `mmpm` first since I thought it acted as an install method for the base framework, but then used [sdetweil's install script]( https://github.com/sdetweil/MagicMirror_scripts). The one nonstandard thing going on with the process is that the install script didn't properly add MM to pm2 so I had to do that manua

[2020-09-10 20:10] gnurph69 commented on #40
Couple of comments, not sure if this is the same problem - but I doubt it'll hurt.

New install, manual install of MM, running PM2.  I have the same issue with Active Modules not showing up; MM running at 192.168.0.100; I disabled IPv6 (because the log looked like it was trying to retrieve an IPv6 address), no impact.  If I pass the rest of the URL (/api/packages/installed) - I get a JSON-looking

[2020-09-12 02:09] stopspazzing commented on #43
super simple server (async using aiohttp):

[code]

[2020-09-13 06:29] josiy3 commented on #46
@Bee-Mar you have another solution?

[2020-09-13 07:26] ModestoHagney commented on #40
I'm also having the same sort of issues.

Decided to do a fresh install on a 3B+ used the latest Raspberry Pi OS, installed MMPM and installed MagicMirror from that. After a reboot I can't access the GUI until I restart nginx and I used to be able to access the site the mirror displays from another device and now i can't even do that.

I also have the same issues with MMPM gui unable to retrieve a

[2020-09-13 13:36] Bee-Mar commented on #46
@josiy3 i haven't looked into this for a couple days, but it's been tough to pin down. I also haven't been able to reproduce it on my end

[2020-09-13 13:39] Bee-Mar commented on #40
@pyrosmiley @ModestoHagney @gnurph69 I'll be looking into this some more later today. This has been hard to pin down as well, but i'll keep working to find a solution

[2020-09-14 12:41] ModestoHagney commented on #40
Having another play around tonight I got this when I reinstalled MMPM on a fresh install:

`The script gunicorn is installed in '/home/pi/.local/bin' which is not on PATH.
Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

The script flask is installed in '/home/pi/.local/bin' which is not on PATH.
Consider adding this directory to PA

[2020-09-19 07:36] requiemmg opened #47 "No updates found"
When I am on the command line, "mmpm update" will not find any updates ever.
Even when marketplace is refreshed from the GUI and even when an updatenotification is showing.
Using current MMPM version.

[2020-09-19 14:47] Bee-Mar commented on #47
@requiemmg this is a duplicate of a currently open issue. Please post all relevant information on the thread here:

https://github.com/Bee-Mar/mmpm/issues/45

I’ve taken a break on working on stuff lately, but will get back on these issues later this afternoon.

[2020-09-24 07:19] requiemmg opened #48 "Deleting an external package deletes all external packages"
Hi,

I got 3 external modules in my MMPM database, which I installed manually and set up to appear in MMPMs "External packages".
When I happened to remove one of these packages with the "remove" button from MMPM, all external packages were deleted from the page.

The physical files and folders (of all modules, including the one I wanted to remove) were not touched.

[2020-09-24 10:02] Bee-Mar commented on #48
@requiemmg please use the and follow the bug report template when creating an issue. Without at the very least attaching the log files and environment settings it’s extremely difficult to figure out where to figure out where I should start trying to isolate the problem

[2020-09-24 10:03] Bee-Mar commented on #47
@requiemmg closing this issue since it’s a duplicate

[2020-09-24 10:03] #47 closed

[2020-09-24 17:35] requiemmg commented on #48
Hi, sorry, I hit the "create an issue button" from the Gui, and I was not aware of a special bug reporting scheme.
In fact, you need to scroll through the startpage to be aware of this ;-) Maybe a link to the scheme - and from there to issue reporting  - would help for others in the future.

Last 2 hours of mmpm log; deleted one external module from the GUI (MMM-COVID19-SPARKLINE) around 19:22h.

[2020-09-26 10:34] robudus opened #49 "BUG: cannt start... + Initializing MagicMirror 3rd party packages database Traceback (most recent call last): and TypeError...."
**Describe the Bug**

Is this an issue with the CLI or GUI? with the installation

Is this something that should be put in the Wiki?

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
pi@smartmirror:~ $ mmpm --guided-setup
Welcome to MMPM's guided setup!

I'll help you setup your environment variables, and install additional features. Pressing C

[2020-09-27 11:41] marslane commented on #49
there is update on packages page (https://github.com/MichMich/MagicMirror/wiki/3rd-Party-Modules/_compare/bff50b77d8ebe9647dd381a1dc94e2c9441e86ea...854ab5277f1f2cb32804eed6623afa111dd2d52f)
so the parser has problems with this line ~~MMM-GoogleAssistant~~

until parser is fixed, i added lazy local fix on: **core.py:1214**

try:
      title = mmpm.utils.sanitize_name(td_soup[idx].contents[0].conte

[2020-09-27 12:41] Bee-Mar commented on #49
@marslane thanks for catching that! Would you like to make a merge request for that fix? If not, I can go ahead and make the change as well.

[2020-09-27 13:11] Bee-Mar commented on #49
@marslane actually, I'll try just manually editing the 3rd Party Modules page to see if that'll fix the issue

[2020-09-27 13:25] Bee-Mar commented on #49
@marslane @robudus I made a quick fix for this issue, and pushed it to develop. Once those tests finish, I'll merge it into the master branch, and it will be available on PyPI. The `<del>` tag generated by someone adding strikethrough marks on the 3rd Party Packages page caused this problem. It should be resolved within the hour

[2020-09-27 13:36] #49 closed

[2020-09-28 10:26] Barokai commented on #36
just in case others are as curious as i am - here is the link to the mentioned MagicMirror pull request: https://github.com/MichMich/MagicMirror/pull/2100
:)

[2020-09-28 12:04] Bee-Mar commented on #48
@requiemmg can you attach the compressed log files? reading through the copy-pasted log files are quite unpleasant. You can create a zip file from the CLI with `mmpm log --zip` or by clicking on the button from the control panel on the GUI

[2020-09-29 14:25] requiemmg commented on #48
Sorry, just read it now - too long ago now I fear.

[2020-10-02 14:58] Jan-2005 opened #50 "BUG:"
Rapsberry Pi 3  freshly installed.

`
  The script flask is installed in '/home/pi/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warn                                  ing, use --no-warn-script-location.
  The script wssh is installed in '/home/pi/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you pre

[2020-10-03 13:26] Bee-Mar commented on #50
you need to add `/home/pi/.local/bin` to your `PATH`. The first line in the error message states exactly what is wrong, and this is not a MMPM bug. Execute the commands below and it will be resolved

[code]

[2020-10-03 13:26] #50 closed

[2020-10-03 17:45] Jan-2005 opened #51 "BUG:"
Die Website ist nicht erreichbar192.168.200.28:8080 hat die Verbindung abgelehnt.
Versuchen Sie Folgendes:

Verbindung prüfen
Proxy und Firewall prüfen
ERR_CONNECTION_REFUSED

Webserver no connect can you me help

[2020-10-03 20:07] Bee-Mar commented on #51
@Jan-2005 can you attach your log files? Please run the commands below and attach the files

`cd ~/ ; zip -r mmpm-nginx-logs.zip /var/log/nginx/mmpm-*; mmpm log --zip`

The files will be in your home directory

[2020-10-03 20:14] Jan-2005 commented on #51
pi@raspberrypi:/var/log/nginx $ cd ~/ ; zip -r mmpm-nginx-logs.zip /var/log/nginx/mmpm-*; mmpm log --zip
-bash: zip: Kommando nicht gefunden.
+ Compressing MMPM log files to /home/pi/mmpm-logs-2020-10-3.zip ✓

`2020-10-03 16:15:30,103.103 ERROR utils - assert_required_defaults_exist: Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
2020-10-03 16:25:04,213.213 WAR

[2020-10-03 20:17] Jan-2005 commented on #51
https://www.file-upload.net/download-14310625/mmpm-cli-interface.log.html

[2020-10-03 20:17] Bee-Mar commented on #51
@Jan-2005 please attach the file, trying to read the contents after being copy and pasted is difficult

[2020-10-03 20:27] Jan-2005 commented on #51
[mmpm-cli-interface.log](https://github.com/Bee-Mar/mmpm/files/5322280/mmpm-cli-interface.log)

[2020-10-06 18:48] Jan-2005 commented on #51
Did you find mistakes?

[2020-10-06 19:13] Bee-Mar commented on #51
@Jan-2005 I’ve been on vacation, and will look at it soon

[2020-10-07 15:16] Jan-2005 commented on #51
I have now installed it on a Raspberry Pi 4 and, I can use the Magic Mirror on 192.168.200. 64: Call 8080.
But how do I get to the control center like in the photo: Control-Center.png

[2020-10-11 19:20] mdeuerlein commented on #40
I had the same problems but I think and for me it looks like this problem maybe somehow depends
in which order MM and MMPM or their nginx-instances are started/initialized. e.g.

1. Startup and boot system
  => MM is working but MMPM shows Error 502
2. `sudo systemctl restart nginx`
  => now both are working (also after a few hours)
3. `pm2 restart MagicMirror` or
  => both are still working
4. `s

[2020-10-24 00:35] Koala778 opened #52 "No Active Modules"
Iv read a few issues around and about but non seem to be comparible to my issue. I cant access active modules and as soon as i add the mmpm code to the mm config.js mm wont start. i can see my inistalled modules in the website/ mmpm main menu but even when starting mm through the web gui and refreshing the page the active modules arent displaying and mm as i said isnt loading
[mmpm-logs-2020-9-6 (

[2020-10-24 01:08] #52 closed

[2020-10-26 20:31] td00 opened #53 "BUG: Unable to retrieve MagicMirror modules. Is your internet connection up?"
**Describe the Bug**

Is this an issue with the CLI or GUI?
mmpm doesn't start

Is this something that should be put in the Wiki?
if it's not a weird bug on my system, maybe enhancing the setup guide would be a nice idea.

A clear and concise description of what the bug is.
When installing mmpm via python3 on a Ubuntu 20.04.01 LTS with a MagicMirror via Docker-Compose, the mmpm won't start after i

[2020-10-27 06:29] td00 commented on #53
ftr: yes! My internet connection is up.
No proxy, no cgn, no DNS errors, everything else works.

[2020-10-29 10:51] Bee-Mar commented on #53
You say your MagicMirror config.js doesn’t exist, is that correct? If that’s the case, this feature will not work since you can’t add the configuration for the MMPM MagicMirror module

[2020-10-29 10:53] Bee-Mar commented on #53
This is most likely an issue with the MagicMirror 3rd party modules page. Someone probably altered the markdown/html which caused parsing to fail

[2020-10-29 11:47] td00 commented on #53
Sorry.
Yeah I definitly have a config.js for my magicmirror.
Don't know where my head was when writing this issue... X.x

[2020-10-30 22:15] Bee-Mar commented on #53
@td00 so, this isn't related to the magicmirror modules wiki. Have you tried installing MMPM in a virtualenv?

[2020-11-01 20:25] openPhiL opened #54 "BUG: cannot get it to work on ubuntu 20.04"
Hi there.
This is my 3rd evening trying to get this working and still failing. So many things are not working as expected, I don't even know where to begin to describe it. So maybe it helps if I take you along the journey and hopefully, you can point out what step in the process is wrong. I also have noted some steps that I would add to the documentation, I'll mention it down below.

I don't use a

[2020-11-01 20:32] Bee-Mar commented on #54
@openPhiL MMPM was never tested on an LXC container, only on Debian and Raspbian. I don’t intend to spend time working on compatibility for an edge case, as you’re the only person I’ve come across that’s attempting to install this within an LXC container. Sorry to disappoint, but I’m going to close this issue until others also have the same problem

[2020-11-01 20:32] #54 closed

[2020-11-02 20:37] openPhiL commented on #54
Dear Bee-Mar,
I do understand that investigating on edge cases is a waste of time. I didn't find the information that only debian and Raspbian are supported - thanks for the hint. (maybe add this do the installation page?)

So I created a fresh new debian installation (not in any form of container) and have some of the same problems ending up at the same step - not finding the active modules.

As

[2020-11-04 23:58] Bee-Mar commented on #54
The reason this is a particularly specific edge and I don’t intend to go out of my way supporting it is because LXC is finicky. I’ve used LXC containers for personal and work purposes. The configuration isn’t cut and dry, and when to enable privilege, mount certain linux devices and add new network devices isn’t always clear to all users. Additionally, a good portion of magicmirror users are not v

[2020-11-05 07:02] openPhiL commented on #54
@Bee-Mar : I have the feeling you didn't understand what I was trying to say in my postmortem post. I do **not** use lxc container - i discarded that idea after your first comment.

I can do any form of linux, I tried ubuntu20.04 and debian10 ( **not container** ) with the same problematic result.

I do not want to have multiple raspberry pi in my home when I already have powerful hypervisor, so m

[2020-11-08 00:15] starlord1980 commented on #53
Same here then I guess, just trying this out and run out of ideas:

{
  "MMPM_MAGICMIRROR_ROOT": "/home/pi/MagicMirror",
  "MMPM_MAGICMIRROR_URI": "http://127.0.1.1:8080",
  "MMPM_MAGICMIRROR_PM2_PROCESS_NAME": "",
  "MMPM_MAGICMIRROR_DOCKER_COMPOSE_FILE": ".",
  "MMPM_IS_DOCKER_IMAGE": false
}

I believe I've set this correctly according to the instructions which state:
- MMPM_MAGICMIRROR_URI is

[2020-11-14 17:27] mathiasrabe commented on #54
I also have issues with MPMM. I installed it on a Raspberry Pi with Raspbian as described in the wiki. When I try to reach the webpage I get several errors like:

I also see the error messages in mmpm-error.log. I also changed the settings from localhost to 127.0.0.1. and there are no new messages in the log file but the 404 errors still remains.

[2020-11-14 23:56] swvalenti194 opened #55 "This Normal?"
`pi@raspberrypi:~ $ mmpm update
Checking MMM-FlightRadarTracker [package] for updates ✓
Checking MMM-DarkSkyForecast [package] for updates ✓
Checking MMM-RTSPStream [package] for updates ✓
Checking MMM-EventHorizon [package] for updates ✓
Checking MMM-News [package] for updates ✓
Checking MMM-PGA [package] for updates ✓
Checking MagicMirror [application] for updates ✓
Checking MMPM [application] f

[2020-11-14 23:57] swvalenti194 commented on #55
`pi@raspberrypi:~ $ mmpm update
Checking MMM-FlightRadarTracker [package] for updates ✓
Checking MMM-DarkSkyForecast [package] for updates ✓
Checking MMM-RTSPStream [package] for updates ✓
Checking MMM-EventHorizon [package] for updates ✓
Checking MMM-News [package] for updates ✓
Checking MMM-PGA [package] for updates ✓
Checking MagicMirror [application] for updates ✓
Checking MMPM [application] f

[2020-11-14 23:58] swvalenti194 commented on #55
Run mmpm update and this is the return...

[2020-11-17 13:39] umbynos commented on #40
I've got the same 502 problems after a reboot. Does someone succeed in resolving?

[2020-11-17 16:30] td00 commented on #53
Sorry, your reply got burried.
I've installed without an venv.
Just via the pip install command and then tried to use it.

On the difference to @starlord1980 i get the same message when using "mmpm env" so i'll assume, that i've don't have the same bug as him.

[2020-11-18 11:18] td00 commented on #53
It seems, like there's was a problem using a previous installed MagicMirror version.
I've removed the MagicMirror Version installed & installed a new Version via mmpm.
After the installation via mmpm & restoring the config & modules, everything works fine.

It seems like the error, produced in this constellation was just misleading.
Not quite sure how to reproduce this error.
Tried it on a similar

[2020-11-18 11:18] #53 closed

[2020-11-18 15:36] Bee-Mar commented on #55
@swvalenti194 anytime this type of error occurs, it's usually due to someone entering bad info/unexpected html tags into the MagicMirror 3rd party wiki list. Have you tried re-running `mmpm update` lately?

[2020-11-18 15:38] Bee-Mar commented on #51
is the web interface not working for you?

[2020-11-18 19:10] swvalenti194 commented on #55
Just ran it same error returns

[2020-12-02 01:13] MikeBishop commented on #55
Seeing the same thing.

[2020-12-04 14:25] Luc-Veldhuis opened #56 "BUG: Inconsistent naming convention on 3rd party pages causes uninstallable/harder to install modules"
**Describe the Bug**

Is this an issue with the CLI or GUI? Both

Is this something that should be put in the Wiki? Should be fixed by the MagicMirror wiki editors

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/MichMich/MagicMirror/wiki/3rd-Party-Modules
2. Click on Daily Pokemon
The repo name (has changed?) is MM

[2020-12-05 20:12] Bee-Mar commented on #56
This isn't a bug, and is a result of the creator of the "Daily Pokemon" package listing it with an inconsistent name on the 3rd party wiki. When you're about to install the package, you should see the URL of "Daily Pokemon" as [https://github.com/NolanKingdon/MMM-DailyPokemon](https://github.com/NolanKingdon/MMM-DailyPokemon) (as seen below). The project is actually named MMM-DailyPokemon, and git

[2020-12-05 20:12] #56 closed

[2020-12-05 20:16] Bee-Mar commented on #55
@swvalenti194 @MikeBishop have you attempted to reinstall mmpm? I'm unable to reproduce this.

Can you try running:
[code]
and rerun your previous command?

[2020-12-05 20:21] swvalenti194 commented on #55
@Bee-Mar Still getting the same error after running your command.

[2020-12-05 20:25] Bee-Mar commented on #55
try deleting your database, and then running `mmpm db --refresh`

[code]

[2020-12-05 20:29] #46 closed

[2020-12-05 20:29] swvalenti194 commented on #55
Still getting same issue

`pi@raspberrypi:~ $ rm ~/.config/mmpm/MagicMirror*
pi@raspberrypi:~ $ mmpm db --refresh
+ Initializing MagicMirror 3rd party packages database ✓
Checking MMPM [application] (automated) for updates ✓
pi@raspberrypi:~ $ mmpm update
Checking MMM-FlightRadarTracker [package] for updates ✓
Checking MMM-DarkSkyForecast [package] for updates ✓
Checking MMM-PGA [package] for upda

[2020-12-05 20:31] swvalenti194 commented on #55
pi@raspberrypi:~ $ mmpm db --refresh
+ Initializing MagicMirror 3rd party packages database ✓
Checking MMPM [application] (automated) for updates ✓
pi@raspberrypi:~ $ mmpm update
Checking MMM-FlightRadarTracker [package] for updates ✓
Checking MMM-DarkSkyForecast [package] for updates ✓
Checking MMM-PGA [package] for updates ✓
Checking MMM-RTSPStream [package] for updates ✓
Checking MMM-EventHoriz

[2020-12-05 20:42] Bee-Mar commented on #55
@swvalenti194 i think i've found the issue

[2020-12-05 20:52] Bee-Mar commented on #55
@swvalenti194 i may have spoken too soon. Can you also try removing the cached list of available upgrades then re-run `mmpm update`

[code]

[2020-12-05 20:59] Bee-Mar commented on #55
something else worth trying is uninstalling all the packages, and then reinstalling them. If `mmpm list -it` will produce output, then you can try the following:

[code]

[2020-12-05 20:59] swvalenti194 commented on #55
Still did not work sir

[2020-12-05 21:01] swvalenti194 commented on #55
running your last command now standby

[2020-12-05 21:05] swvalenti194 commented on #55
This worked!  You da man thank you!  What the reasoning behind this?

[2020-12-05 21:06] Bee-Mar commented on #55
@MikeBishop the command below worked for @swvalenti194 , hopefully it fixes the issue for you as well.

[code]

[2020-12-05 21:07] Bee-Mar commented on #55
@swvalenti194 well, unfortunately that's something I'll have to look into lol. On the surface it makes no sense to me since the python object is most certainly getting serialized into a JSON friendly format prior to writing the contents to a file.

[2020-12-05 21:10] swvalenti194 commented on #55
Well shit, the update worked but now my mirror is just black screen.  Pm2 shows processes started but no modules display

[2020-12-05 21:13] Bee-Mar commented on #55
did you shut down the mirror prior to reinstalling your packages?

[2020-12-05 21:14] swvalenti194 commented on #55
No but I will try that now and report back

[2020-12-05 21:21] swvalenti194 commented on #55
ugggghhhhhhh it's just a black screen still

[2020-12-05 21:22] Bee-Mar commented on #55
@swvalenti194 this would have to be related to one of the modules at this point. I'd suggest commenting out modules one by one in your config.js and restarting magicmirror each time

[2020-12-05 21:31] swvalenti194 commented on #55
It was fine before running that last command you sent, don't think its a config issue as I am not getting a config error on the black screen

[2020-12-05 21:36] Bee-Mar commented on #55
@swvalenti194 the only thing that previous command did was reinstall the packages you already had installed

[2020-12-05 21:39] swvalenti194 commented on #55
Ok I have found the module MMM-PGA that is causing the issue, not sure why as it was working before.

[2020-12-05 21:40] Bee-Mar commented on #55
I can only assume there were changes made to the module that weren't pulled down before since you weren't able to update through mmpm

[2020-12-05 21:41] #55 closed

[2020-12-11 12:10] JoshuaShelswell commented on #50
why is this not in the instructions

[2020-12-12 00:33] JoshuaShelswell opened #57 "BUG: flask-socketio Python requirment error on install"
right off a fresh install

flask-socketio 4.3.2 has requirement python-socketio<5,>=4.3.0, but you'll have python-socketio 5.0.1 which is incompatible.

seems like you need to clean stuff up

[2020-12-12 00:37] Bee-Mar commented on #57
@JoshuaShelswell this actually sounds like an issue with a python package you already have installed that has other requirements. I'd install mmpm in virtualenv.

[2020-12-12 00:45] #51 closed

[2020-12-12 00:45] #48 closed

[2020-12-12 00:46] #45 closed

[2020-12-12 00:46] #35 closed

[2020-12-12 00:49] Bee-Mar commented on #50
@JoshuaShelswell I can add this, however it was left out because whenever you install a package with `pip` that includes a command line entry point executable like `mmpm` a yellow warning message is displayed on screen that says the executable is not in your path. This example is on a Windows machine, but it is similar on Linux/MacOS

https://github.com/pypa/pip/issues/5316

[2020-12-12 10:58] JoshuaShelswell commented on #57
i did another fresh install and same error, its nothing i installed, you probably dont have something up to date with your program, im sure everyone has this error, its not just me

[2020-12-12 11:05] JoshuaShelswell commented on #57
followed the virtualenv instructions and still this same error

flask-socketio 4.3.2 has requirement python-socketio<5,>=4.3.0, but you'll have python-socketio 5.0.1 which is incompatible.

not really sure if it effects the running of the program or not

[2020-12-12 11:20] JoshuaShelswell commented on #50
i see but this should probably be in the instructions regardless since you have to put it in to use mmpm --guided-setup after install on a raspberrypi and not everyone new to linux knows how to make an echo command to add something to the path to use your program should add a disclaimer noting like "if you run into this message and cant use the guided setup" etc, i wouldnt have gotten this running

[2020-12-12 15:59] Bee-Mar commented on #57
@JoshuaShelswell glad you were able to get it working. I've also updated the readme's quickstart install instructions to include adding `~/.local/bin` to the user's bashrc. I'm going to close this issue since it's working for you, but let me know if you encounter any other issues.

[2020-12-12 15:59] #57 closed

[2020-12-14 17:19] khassel opened #58 "Wrong css path?"
Hi,

before building the docker image for the new release I stumbled over [this line](https://github.com/Bee-Mar/mmpm/commit/825b8d82e76d3ac0e0f00af9d0b4ca6b44b38d0c#diff-d3368be5dfb6a93c672a0d2ecaa7313a5007b9787b69469d6a58d9304725e0d4R419):

[code]

I would expect:

[code]

Can you take a look?

Thanks,

Karsten.

[2020-12-14 17:30] Bee-Mar commented on #58
@khassel you are correct. I missed that when updating yesterday. I'll push the change now.

[2020-12-14 17:41] Bee-Mar commented on #58
@khassel the build is running now

[2020-12-14 17:41] #58 closed

[2020-12-15 07:27] Niklas1191 opened #59 "ERROR: Quick installation Issue (CLI)"
When i come to mmpm --guided-setup i get this error below. (Also tried it with sudo as suggested in MM discord)

Traceback (most recent call last):
  File "/home/pi/.local/bin/mmpm", line 6, in <module>
    from mmpm.__main__ import main
  File "/home/pi/.local/lib/python3.7/site-packages/mmpm/__main__.py", line 4, in <module>
    from mmpm.mmpm import main as _main_
  File "/home/pi/.local/lib/py

[2020-12-16 15:36] Bee-Mar commented on #59
Can you rerun 'mmpm --guided-setup' and copy your responses to each question? It might help me understand where the error occurred. Usually that error would be thrown whenever you don't have an internet connection.

[2020-12-16 16:15] Niklas1191 commented on #59
That is what i get once i run the command, I do not get anyquestions to respond to.

Niklas Bill

___________________________________

Digisign AB

Drivhjulsvägen 22B

126 30 HÄGERSTEN

Tel: +46 8 681 17 72

Mail: niklas@digisign.se

___________________________________

This email may contain confidential information. If you are not the intended recipient

(or have received this email in error) pl

[2020-12-16 19:22] Bee-Mar commented on #59
I'll be able to look at this on my laptop in a few hours, but have you attempted to reinstall mmpm?

If not, you can use the command below:

python3 -m pip install --upgrade --force-reinstall mmpm

[2020-12-17 08:42] Niklas1191 commented on #59
Did not work. See the full CLI below. (I’m going to try again with sudo and see if that works.)

pi@rpinews:~/MagicMirror/config $ python3 -m pip install --upgrade --force-reinstall mmpm

Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple

Collecting mmpm

  Downloading https://files.pythonhosted.org/packages/20/75/feddd43fcead24956aab0d0b1b5d9acb8409567ce51c59dac8f73d2d1

[2020-12-17 08:46] Niklas1191 commented on #59
Sudo did not do anything either.

It looks like it struggle to set the environment? Have Raspbian changed anything around this?

MM runs at 8080, should i change MM to run another port if MMPM needs it? Or should it be the same?

Niklas Bill

___________________________________

Digisign AB

Drivhjulsvägen 22B

126 30 HÄGERSTEN

Tel: +46 8 681 17 72

Mail: niklas@digisign.se

_____________________

[2020-12-18 00:17] swvalenti194 opened #60 "Cannot Retrieve Modules"
RPi has config correct with "0.0.0.0" and ip whitelist array empty []

Still can't detect modules running

Any ideas?

![Capture](https://user-images.githubusercontent.com/43345060/102558901-88da0f00-409c-11eb-935d-ec2892742ca4.PNG)

[2020-12-18 00:21] Bee-Mar commented on #60
That is not the correct IP address. 0.0.0.0 is a meta address, you need the absolute address of the device running MagicMirror. The device's IP may be something like 192.168.X.X, or 10.0.X.X or something else possibly. For example, if the device running MagicMirror has an IP address of 192.168.0.71, that should be the value rather than 0.0.0.0

[2020-12-18 00:47] swvalenti194 commented on #60
I have the value of RPi in mmpm env table http://10.30.1.223:8080

[2020-12-18 00:53] Dionice commented on #60
Same issue. Cannot retrieve modules.
mmpm log:
2020/12/18 01:32:24 [error] 2115#2115: *96 connect() failed (111: Connection refused) while connecting to upstream, client: 192.168.0.29, server: _, request: "GET /api/mmpm/environment-vars HTTP/1.1", upstream: "http://[::1]:7891/api/mmpm/environment-vars", host: "192.168.0.50:7890", referrer: "http://192.168.0.50:7890/"

[2020-12-18 00:55] Bee-Mar commented on #60
Is your MagicMirror running?

[2020-12-18 00:56] swvalenti194 commented on #60
Yes sir

[2020-12-18 00:57] Dionice commented on #60
Yes
![image](https://user-images.githubusercontent.com/13300036/102561181-b181f900-40dc-11eb-821c-4587c188f88d.png)

[2020-12-18 22:20] Bee-Mar commented on #60
@swvalenti194

Sorry, should have been more clear. I read that too quickly and assumed you meant 0.0.0.0 was the IP you had in your mmpm env configuration.

[2020-12-18 22:22] Bee-Mar commented on #60
@Dionice from the log files, all the API requests seem to fail. You should try restarting the nginx service on the device running MMPM.

`sudo systemctl restart nginx.service`

[2020-12-18 22:24] Bee-Mar commented on #60
@swvalenti194 @Dionice have you both added MMPM to the module list in your MagicMirror `config.js`?

[2020-12-18 22:25] swvalenti194 commented on #60
Yes sir

[2020-12-18 22:30] Bee-Mar commented on #60
@swvalenti194 can you attach your log files as well.

mmpm log --zip

[2020-12-19 13:17] swvalenti194 commented on #60
[mmpm-logs-2020-12-19.zip](https://github.com/Bee-Mar/mmpm/files/5719456/mmpm-logs-2020-12-19.zip)
 Here you go

[2020-12-19 13:25] swvalenti194 commented on #60
Not sure why or how but it shows up now, somehow mmpm was named y and I changed name to mmpm and it worked.

[2020-12-22 13:25] Dionice commented on #60
For me issue is still reproducible:

`2020-12-22 13:11:11,750.750 INFO core - display_magicmirror_modules_status: attempting to connect to '/mmpm' namespace within MagicMirror websocket
attempting to connect to '/mmpm' namespace within MagicMirror websocket
2020-12-22 13:11:11,779.779 ERROR utils - error_msg: Failed to connect to MagicMirror, closing socket. Is MagicMirror running?
Failed to conne

[2020-12-24 14:39] swvalenti194 commented on #60
mmpm update doesn't recognize that there is an update for remote control?

`
pi@raspberrypi:~ $ mmpm update
Checking MMM-Remote-Control [package] for updates ✓
Checking MMM-DarkSkyForecast [package] for updates ✓
Checking MMM-PGA [package] for updates ✓
Checking MMM-RTSPStream [package] for updates ✓
Checking MMM-EventHorizon [package] for updates ✓
Checking MMM-News [package] for updates ✓
Checki

[2020-12-24 17:34] Bee-Mar commented on #60
@swvalenti194 I'll take a look into this on over the weekend after the holiday is over. Also, the update may not be detected based on how MMM-Remote-Control handles its update checks. Which, is something that'll need to be investigated.

[2020-12-24 17:34] Bee-Mar commented on #59
@Niklas1191 you shouldn't need to change the port. I'll take a look into this over the weekend after the holiday

[2020-12-26 12:56] erth503 opened #61 "Problems with sudo apt install libffi-dev nginx-full -y"
In my case when try to run sudo apt install libffi-dev nginx-full -y it says error code 1, and in the code it says:
● nginx.service - A high performance web server and a reverse proxy server
   Loaded: loaded (/lib/systemd/system/nginx.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Sat 2020-12-26 13:44:48 CET; 50ms ago
     Docs: man:nginx(8)
  Process: 25174

[2020-12-26 13:37] Bee-Mar commented on #61
Something else is already using port 80 on your device. Do you have Pihole installed?

[2020-12-26 13:57] erth503 commented on #61
@Bee-Mar
sudo apt install -y net-tools
With this command it shows the same Error, but with the second command it shows me too an error
Should i try to reset my raspi?

[2020-12-30 23:53] Marcus04102000 opened #62 "pi@raspberrypi:~ $ mmpm --guided-setup bash: mmpm: Kommando nicht gefunden."
pi@raspberrypi:~ $ mmpm --guided-setup
bash: mmpm: Kommando nicht gefunden.

I have completed the first two steps of the installation and tried "mmpm --guided-setup" but it did not find the mmpm command

[2020-12-31 00:26] Bee-Mar commented on #61
That might be worth a try. I'm not sure what might be the issue without a lot more information.

[2020-12-31 00:27] Bee-Mar commented on #62
You'll need to make sure ~/.local/bin is in your PATH.

Run the command below:

echo 'export PATH="$PATH:~/.local/bin"' >> ~/.bashrc

[2021-01-03 04:04] shotbyapony commented on #60
care to elaborate? i am getting the same problem

[2021-01-10 23:07] khassel commented on #60
I found 2 problems concerning this issue:
- the installation as module is different to all other modules. mmpm expects only 2 files in `.modules/mmpm` folder (you can install it with `mmpm install --as-module`), not the complete mmpm repo. So if you install mmpm as module going into `modules` folder and doing `git clone ...` this will not work.
- the current mmpm release will not work with the new

[2021-01-11 14:13] JoyyoJ123 commented on #60
Hi, I'm facing the same issue: MM is working correctly but mmpm is not displaying modules. Command "mmpm mm-ctl --status" shows correctly the installed modules?

Can you please tell where did you found mmpm named "y" ?

[2021-01-11 14:16] swvalenti194 commented on #60
In the /home/pi directory.  For some reason on the install script when I hit "y" to one of the questions it named the mmpm folder to "y"   That make sense?

[2021-01-11 14:43] JoyyoJ123 commented on #60
In my /home/pi directory, i neither have an y folder nor a mmpm one.
The only mmpm folder i found is : /home/pi/.config/mmpm. But it looks correctly named.

Thank you anyway.

[2021-01-11 19:45] khassel commented on #60
I'm interested in more info's about your setup (mm version and mmpm version).

And may you can look into the web console of your browser while loading the mmpm gui (ctrl+shift+i) if there are any errors or warnings. Thanks.

[2021-01-12 09:19] JoyyoJ123 commented on #60
Raspberry Pi 4 4GB
Raspbian GNU/Linux 10 (buster)
Node.js  Ver 14.15.4
MagicMirror2 Ver 2.14.0
mmpm-2.9

"mmpm mm-ctl --status" shows the "default" modules. But, not those installed by mmpm from the repository.

Below is my modules section in config.js :
`modules: [
		{
			module: "alert",
		},
		{
			module: "updatenotification",
			position: "top_bar"
		},
		{
			module: "clock",
			position: "t

[2021-01-16 13:53] Bl4CkGuuN opened #64 "Unable to retrieve active modules"
Hello,

I have the error:

`Please make sure MagicMirror is running, the MMPM_MAGICMIRROR_URI is correct, and the ipWhitelist in your MagicMirror config.js includes 0.0.0.0, or the ipWhitelist is an empty array.`

I opened MagicMirror in the Browser and also the MMPM_MAGICMIRROR_URI is correct.
The ipWhitelist Array is empty.

Any Ideas?

[2021-01-16 21:27] khassel commented on #64
duplicate of #60 ?

[2021-01-17 12:13] Bl4CkGuuN commented on #64
Oh yeah, my bad

[2021-01-17 12:13] #64 closed

[2021-01-17 12:15] Bl4CkGuuN commented on #60
Same error for me, have you found something so far?

[2021-01-17 13:09] swvalenti194 commented on #60
Not ideal, but you can delete all your modules and then install them via mmpm marketplace which should do the trick.

[2021-01-17 15:08] #62 closed

[2021-01-17 15:10] Bee-Mar commented on #60
@Bl4CkGuuN @JoyyoJ123 what @swvalenti194 recommended should work. The reason that needs to be done is still something that's escaped me. MMPM should be able to pick up any existing repositories saved in your `MagicMirror/modules` directory

[2021-01-18 08:08] JoyyoJ123 commented on #60
If i select a module from the marketplace, it gets registered in "local modules" section. But remains unavailable in mmpm main page.

[2021-01-18 08:38] r3z3 commented on #60
Hi, exactly the same problem here...

[2021-01-19 09:56] r3z3 commented on #60
I can see this in my _/var/log/nginx/mmpm-error.log_

2021/01/19 10:55:00 [error] 1295#1295: *2 connect() failed (111: Connection refused) while connecting to upstream, client: 192.168.1.94, server: _, request: "GET /api/mmpm/environment-vars HTTP/1.1", upstream: "http://[::1]:7891/api/mmpm/environment-vars", host: "192.168.1.98:7890", referrer: "http://192.168.1.98:7890/"

[2021-01-19 11:14] Bl4CkGuuN commented on #60
@Bee-Mar I already installed every module via the marketplace expect the default ones.

With `mmpm mm-ctl --status` I'm able too see all the installed modules...

[2021-01-20 13:49] r3z3 commented on #60
I think that it's an IPV6 adress problem.
I tried to install MagicMirror whith different methods but I was never able to obtain the list of the actives modules on the CLI.
I works with the command line but I don't mind.

[2021-01-26 09:26] r3z3 commented on #60
Any ideas?

[2021-01-27 21:19] khassel commented on #60
may we are discussing several problems in this thread ...

**For those who are using magic mirror version v2.14.0** and have problems to retrieve the modules via the gui: There is no chance to get this working without patching client (mmpm) or server (mm). Reason is mm v2.14.0 is the first release using socket.io v3 and mmpm is using socket.io-client v2.

You can
- downgrade mm to v2.13.0 or
- wai

[2021-01-28 10:19] JoyyoJ123 commented on #60
Thanks.

[2021-01-28 18:26] r3z3 commented on #60
Yes, thanks a lot, I works like a charm with the develop branch of mm !

[2021-02-01 14:54] serenewaffles opened #66 "BUG: Cannot run guided-setup"
**Describe the Bug**

Is this an issue with the CLI or GUI?
CLI issue

Is this something that should be put in the Wiki?
Unlikely

A clear and concise description of what the bug is.
When I try to run `mmpm --guided-setup` I get a UnicodeEncodeError, and setup fails.

**To Reproduce**
Steps to reproduce the behavior:
run the following commands
[code]

**Expected behavior**
mmpm should perform a se

[2021-02-04 13:49] rivierauk commented on #60
Hi all, sorry to hi-jack the thread!
I have the same issue as above, but are you able to explain how to upgrade to the 'develop branch' please?
Currently running 2.14.0 on RPi4
Thanks

[2021-02-27 19:30] Bee-Mar commented on #40
@umbynos @mdeuerlein @pyrosmiley @ModestoHagney if you guys run `which gunicorn` what do you get as output?

[2021-02-27 21:36] umbynos commented on #40
Hi! By running `which gunicorn` i get `/home/pi/.local/bin/gunicorn`

[2021-03-01 00:02] Brand0n1 opened #67 "Unable to retrieve active modules"
I get the following error when I try to use the GUI associated with my magic mirror.

[code]

Everything else seems to load up fine other than the modules. I have already set my "MMPM_MAGICMIRROR_URI " to the IP address of my pi as well as changing the address in the MagicMirror (config.js) to be "0.0.0.0" I also added the address "0.0.0.0"
into the ipWhitelist in the (config.js). I have also adde

[2021-03-01 23:09] Brand0n1 commented on #67
It's not solved and looks unactive

[2021-03-02 04:17] Bee-Mar commented on #67
@Brand0n1 this has been moderately inactive lately, however the issue is being worked on now. This will be solved before the next MagicMirror release in April.

[2021-03-02 23:16] Brand0n1 commented on #67
okay thank you I guess, sucks that it can't be fixed until april

[2021-03-05 08:46] interessted opened #68 "BUG: or (my) inability... Initializing MagicMirror 3rd party packages database Traceback (most recent call last):"
I have reinstalled raspbian and magicmirror 5 times now. The mirror runs without problems. the installation of mmpm also works so far without error messages. however, if I call any mmpm command after the installation, such as mmpm open --env, I get this error message:

pi@raspberrypi:~/MagicMirror $ mmpm open --env
+ Initializing MagicMirror 3rd party packages database Traceback (most recent call

[2021-03-05 12:20] Bee-Mar commented on #68
This is most likely an issue with the MagicMirror 3rd Party Module page being updated. I'll have to investigate later today after work.

[2021-03-06 01:45] lordscarlet commented on #68
Yep., I just installed Magic Mirror and this for the first time tonight and I can confirm the same error.

[2021-03-06 12:45] erikvoznak commented on #68
same here, I am building 2nd MM and after fresh install I am getting same error. on first MM I have mmpm version 2.09 and same version on 2nd one. hovewer on 1st pm2 version is v4.4.1 and on 2nd is v4.5.5. maybe that is the issue?

[2021-03-06 14:01] Gustavomonteiro66 commented on #68
Same here, exactly same error.

[2021-03-06 14:38] Bee-Mar commented on #68
@erikvoznak @lordscarlet @Gustavomonteiro66 getting on this right now. The fix should be quick

[2021-03-06 14:43] Bee-Mar commented on #68
@lordscarlet @Gustavomonteiro66 @erikvoznak @interessted give it a shot now. There was a rogue new line in the description of a module on the 3rd party modules page

[2021-03-06 16:46] erikvoznak commented on #68
it works, thank you man.

[2021-03-06 16:51] Bee-Mar commented on #68
Cool, I'm going to close this issue

[2021-03-06 16:51] #68 closed

[2021-03-07 19:26] Bee-Mar commented on #40
@umbynos @Mattrees007 @pyrosmiley @mdeuerlein this will be resolved shortly. The issue is caused by the version of `eventlet` in mmpm 2.09. The next version will be using a newer version of eventlet and a couple other bug fixes.

[2021-03-27 17:27] max6129 opened #69 "Cant connect with MagicMirror"
var config = {
	address: "0.0.0.0",
	port: 8080,
	basePath: "/",
	ipWhitelist: ["127.0.0.1", "::ffff:127.0.0.1", "::1", "0.0.0.0"],
	useHttps: false, 		// Support HTTPS or not, default "false" will use HTTP
	httpsPrivateKey: "", 	// HTTPS private key path, only require when useHttps is true
	httpsCertificate: "", 	// HTTPS Certificate path, only require when useHttps is true

mmpm still wont conne

[2021-03-27 23:18] Bee-Mar commented on #69
This is a known issue, related to a version of socket.io MagicMirror is using. A fix is on the way.

[2021-04-03 13:35] swvalenti194 commented on #67
Confirmed 2.15 fixed this issue

[2021-04-03 13:36] swvalenti194 commented on #60
2.15 fixed this issue

[2021-04-03 13:36] #60 closed

[2021-04-06 05:14] IgorBass73 commented on #67
So I have even after complete reinstallation with MM 2.15 and mmpm 2.09 the problem still. the Active modules are still not displayed.Can someone help me,
is there a solution and it would be nice if he posts this !

[2021-04-06 08:47] erikvoznak opened #70 "BUG: mmpm upgrade fails with "FileNotFoundError: [Errno 2] No such file or directory: ''""
mmpm upgrade fails with "FileNotFoundError: [Errno 2] No such file or directory: ''"

Is this an issue with the CLI or GUI?

cli issue

Is this something that should be put in the Wiki?

YES

A clear and concise description of what the bug is.

mmpm update runs well:

 mmpm update
Checking MMM-Button [package] for updates ✓
Checking MMM-Buttons [package] for updates ✓
Checking MMM-connection-statu

[2021-04-06 13:43] swvalenti194 commented on #67
I don't have a comma after "mmpm" in my config...idk but grasping at straws to help ya maybe take that out and restart MM

[2021-04-07 05:15] IgorBass73 commented on #67
Still does not work for me the same problem, modules are still not displayed :-( even after removing comma and restart.

[2021-04-20 16:06] lthown commented on #66
Getting the same error, tried using a remote terminal and local terminal.

[2021-04-20 16:13] lthown commented on #66
Edit /home/pi/.local/lib/python3.7/site-packages/mmpm/consts.py

change lines 32-34 to no longer use unicode emojis:

`GREEN_CHECK_MARK: str = mmpm.color.N_GREEN + '+' + mmpm.color.RESET
YELLOW_X: str = mmpm.color.N_YELLOW + 'x' + mmpm.color.RESET
RED_X: str = mmpm.color.N_RED + 'X' + mmpm.color.RESET`

[2021-05-06 15:37] michael-zock commented on #67
I'm in the same boat.

[2021-05-11 17:08] Bee-Mar commented on #69
@max6129 a new version of mmpm has just been released, which should solve this issue

[2021-05-11 17:09] #36 closed

[2021-05-11 17:10] Bee-Mar commented on #40
this should be solved with the latest version of mmpm just released today (2.11)

[2021-05-12 06:32] erikvoznak commented on #70
nope, issue still there.

another observation is that first run of mmpm update shown some error that it cannot communicate with git, and it run loooong time. second run was much quicker it also told me that there are upgrades, but upgrade failed again.

pi@mirrorsklabina:~ $ mmpm update
Checking MMM-Button [package] for updates ✓
Checking MMM-Buttons [package] for updates ✓
Checking MMM-connection

[2021-05-12 11:13] Bee-Mar commented on #70
Can you try deleting your MagicMirror modules manually, and reinstalling them using MMPM?

[2021-05-12 11:14] Bee-Mar commented on #66
@lthown this solved the issue for you?

[2021-05-12 11:41] erikvoznak commented on #70
this is how I upgrade modules now. I move them and then install them using your mmpm. so installation works fine. but upgrade is not working.

[2021-05-12 14:26] lthown commented on #66
Yep, after editing that it worked perfectly.

[2021-05-12 14:29] Bee-Mar commented on #66
If you'd like you can make a merge request. Otherwise I'll make the change shortly

[2021-05-14 20:01] IgorBass73 commented on #67
Hmmm apparently I'm too stupid , but I have now completely reinstalled the Pi but still have the same problem :-(

MM 2.15
mmpm 2.11
[mmpm-logs-2021-4-5.zip](https://github.com/Bee-Mar/mmpm/files/6480945/mmpm-logs-2021-4-5.zip)

[2021-06-10 00:50] baghtal opened #72 "Include GUI Address in Quick Start Guide"
Please add a line to the quick installation guide that the default URL to access is 127.0.0.1:7890. I had to dig through this page, the wiki page, the mmpm --help guide until i came across mmpm -l g. This was really not a great way to get started with the package. Now that i've deciphered how to access it it looks great!

[2021-06-18 13:05] SemperDiscere opened #73 "BUG: Wiki documentation issue"
**Describe the Bug**
Functional error in mmpm Wiki
The closed Curly above the mmpm module should be an open curly.
Copy/Paste of the code causes a failure to load.

Is this an issue with the CLI or GUI? Wiki

Is this something that should be put in the Wiki? Yes

A clear and concise description of what the bug is.
In the second Code Block

[code]
[code]
**To Reproduce**
Steps to reproduce the beha

[2021-06-19 13:17] #69 closed

[2021-06-19 13:17] #67 closed

[2021-06-19 13:17] #59 closed

[2021-06-19 13:18] #40 closed

[2021-06-20 01:08] Bee-Mar commented on #73
Haha thanks, I just corrected it.

[2021-06-20 01:08] #73 closed

[2021-06-24 15:35] adocampo opened #74 "The MMPM NGINX configuration file does not appear to exist. Is the GUI installed?"
I've followed the steps on the documentation under manjaro linux, and so far it went smooth (the only thing I had to do different is installing pynacl through pacman (because pip refused to install it).

Then I ran `mmpm --guided-setup` and followed the steps, so far it seems to be working, and I have CLI working, I can start, restart or stop MM through mmpm and do everything on the CLI. but nginx

[2021-06-24 15:42] adocampo commented on #74
Just noticed mmpm installed created a soft link for nginx in `/etc/nginx/sites-enabled` instead of `/etc/nginx/sites-enabled/mmpm.conf`, which I created manually, but no luck either

[2021-06-24 15:42] #74 closed

[2021-07-20 20:59] dannydp79 opened #75 "BUG: Port 80"
During installation I get an error message that nginx is unable to bind to my Ip on port 80. I already have a web server on that port. Is there any way to redefine the port?

![logs](https://user-images.githubusercontent.com/87725801/126394675-a535ce9e-b3e2-4787-8c87-437a5db5e682.PNG)

[2021-07-21 20:25] #75 closed

[2021-07-21 20:31] dannydp79 opened #76 "BUG:"
When loading MMPM I get the error that it's unable to retrieve active modules.

I've verified that the URI is correct, I am able to open the URI locally on the Raspberry PI without issue. The path seems fine as I'm able to edit config files in MMPM. I've tried addresssing it in the config as localhost, the IP of the pi (192.168.0.124), 0.0.0.0, and 127.

**Operating System, Python3 Version, and We

[2021-08-07 22:15] jamesheaver commented on #72
I don't even know where you found that port number to begin with. Even searching the wiki for the "7890" specifcally, doesn't show it appearing anywhere useful.

This issue was the only way I managed to find it and actually access the GUI

[2021-08-13 06:07] Kanostic commented on #76
I am also having this issue.

Unable to retrieve active modules error

Please make sure MagicMirror is running, the MMPM_MAGICMIRROR_URI is correct, and the ipWhitelist in your MagicMirror config.js includes 0.0.0.0, or the ipWhitelist is an empty array.

You may need to open MagicMirror in your browser to activate the connection.

[2021-08-15 05:48] adamsjdavid opened #77 "BUG: Only the first instance of a module can be toggled by the 'Active Modules' selector"
**Describe the Bug**

[The GUI code for toggling module visibility](https://github.com/Bee-Mar/mmpm/blob/41262fac7b2be3cc3fce9a43c3b64aa411072975/gui/src/app/components/magic-mirror-control-center/magic-mirror-control-center.component.ts#L119) currently relies on only the module name field when determining which module to toggle.

In a default MagicMirror2 build, the mirror uses two separate insta

[2021-08-28 21:42] jkriegshauser commented on #40
Btw, I ran into this issue today on version 2.11. The error logs show that there was a failure to connect to upstream but used the IPV6 address `[::1]`. On my RPi in _/etc/hosts_ I noticed that the name `localhost` was used for both `127.0.0.1` and `[::1]`. I first tried  removing `localhost` as a name for `[::1]` in the _/etc/hosts_ file, but then I would just get connection refused. So then I ch

[2021-09-01 17:40] jamesvcc commented on #70
I have the same issue I believe.
The module was installed using mmm and has previously been upgraded via mmm - just now it seems to stop.

Terminal output below:

pi@music:~ $ mmpm upgrade
Upgrade MMM-Spotify (https://github.com/skuethe/MMM-Spotify) now? [yes/y] or [no/n]: yes
Traceback (most recent call last):
  File "/home/pi/.local/bin/mmpm", line 10, in <module>
    sys.exit(main())
  File "/h

[2021-09-16 17:51] Bee-Mar commented on #77
@adamsjdavid I'll take a look at this shortly

[2021-09-16 17:53] Bee-Mar commented on #76
@Kanostic @dannydp79 have you both followed the instructions to install the MMPM MagicMirror module? This is required to retrieve the active modules

https://github.com/Bee-Mar/mmpm/wiki/Status,-Hide,-Show-MagicMirror-Modules

[2021-09-16 17:55] Bee-Mar commented on #72
@baghtal @jamesheaver there is a built in command to display the URL of the GUI.

https://github.com/Bee-Mar/mmpm/wiki/Command-Line-Options#--gui-url----g

`mmpm list --gui-url`

[2021-09-16 17:55] #72 closed

[2021-09-16 17:57] Bee-Mar commented on #70
@jamesvcc @erikvoznak I'll look into this shortly. Sorry, have had a lot of personal things going on.

[2021-09-16 20:58] dannydp79 commented on #76
Sorry Brandon for now I've just given up on MMPM (this request was
submitted some time ago)

------ Original Message ------
From: "Brandon Marlowe" ***@***.***>
To: "Bee-Mar/mmpm" ***@***.***>
Cc: "dannydp79" ***@***.***>; "Mention"
***@***.***>
Sent: 9/16/2021 1:54:01 PM
Subject: Re: [Bee-Mar/mmpm] BUG: (#76)

***@***.*** ***@***.***

[2021-09-16 22:28] Kanostic commented on #76
Pretty much the same with me. I tried following the guides.

[2021-09-18 17:28] tobi-behn opened #78 "BUG: Pi does not boot"
So, upon boot my raspberry pi issues the following statement:

`systemd[1]: /etc/systemd/system/mmpm-webssh.service:4: Failed to parse unsigned value, ignoring: 5, StartLimitIntervalSec=1`

After a few seconds, my screen turns black. Not as in "no signal to the screen" but an "illuminated" black. Does not properly boot up all the way.
I am unable to address the Pi via ssh or VNC.
Could this error

[2021-10-07 13:47] Kieran1375 opened #79 "BUG: "mmpm --guided-setup" error"
Traceback (most recent call last):                                                                                                                                                                                    File "/home/pi/.local/bin/mmpm", line 6, in <module>

[2021-10-17 15:27] Bee-Mar commented on #79
at what point in the guided setup does this error occur?

[2021-10-17 15:29] Bee-Mar commented on #78
that shouldn't cause your RPi to fail at boot. Can you post the contents of `/etc/systemd/system/mmpm-webssh.service`?

[2021-10-17 15:48] Bee-Mar commented on #77
@adamsjdavid this duplicate entry seems like a bug on the side of the MagicMirror developer. In the documentation, there's a usage example and only one entry is displayed. I'm quite certain you can just remove one of the "weather" entries and everything should still display as expected on MagicMirror

https://docs.magicmirror.builders/modules/weather.html#usage

[2021-10-17 15:50] Bee-Mar commented on #66
@ernade have you tried reinstalling? that file should get pulled down from PIP when installing

[2021-10-17 19:15] Kieran1375 commented on #79
Just solved it. It was due to an underscore in the hostname.
Checked what the error means and it's something to do with the hostname so I changed the name from "Magic_Mirror" to just "MagicMirror" in both /etc/hosts + /etc/hostname

[2021-10-17 19:15] #79 closed, assigned to nobody

[2021-12-11 11:46] r4nd1-gh commented on #70
Hi, File "/home/pi/.local/lib/python3.7/site-packages/mmpm/core.py", line 126, in upgrade_package
os.chdir(package.directory) prints me e.g. Upgrade MMM-COVID19-AMPEL (https://github.com/magic21nrw/MMM-COVID19-AMPEL) now? [yes/y] or [no/n]: y
{'title': 'MMM-COVID19-AMPEL', 'author': 'magic21nrw', 'repository': 'https://github.com/magic21nrw/MMM-COVID19-AMPEL', 'description': 'German Ampel for Inci

[2021-12-11 16:25] r4nd1-gh commented on #70
Hey, have solved it for me this way:
added following 2 lines in /home/pi/.local/lib/python3.7/site-packages/mmpm/core.py:
[code]
on lines 125/126 in function upgrade_package before the line with `os.chdir(package.directory)`

[2021-12-11 16:30] Bee-Mar commented on #70
@r4nd1-gh can you try reinstalling `MMM-COVID19-AMPEL`? Without adding your suggested lines the directory prints out correctly for me

[2021-12-11 16:38] Bee-Mar commented on #70
@r4nd1-gh I stand corrected, there were fixes I was working on and something similar was actually already in place to fix this issue. I switched back to master branch, added your fix and it is indeed working. Sorry about that

[2021-12-11 16:41] Bee-Mar commented on #70
@r4nd1-gh @jamesvcc  @erikvoznak there is a fix I'm trying to push for the active modules along with this to the master branch shortly. Once my tokens are updated and the build is working on the develop branch there will be a new version pushed for download

[2021-12-11 16:42] Bee-Mar commented on #70
@khassel just an FYI, I'll be pushing a new version within the day

[2021-12-14 03:36] firefighter4892 opened #80 "MMPM"
I cannot get my 'active modules' to connect/load in the MMPM GUI.  I am a beginner and don't know what other files to change to get this to work.  Thanks in advanced.

[2021-12-15 04:24] Bee-Mar commented on #80
This should be resolved with the release I just published. Try upgrading mmpm to version 2.12

`pip install --upgrade mmpm; mmpm install --gui`

[2021-12-15 14:00] Bee-Mar commented on #76
@dannydp79 @istvanfedak @Kanostic @khassel @herostrat this should now be resolved in the 2.12 version uploaded last night

[2021-12-15 14:01] Bee-Mar commented on #70
@erikvoznak @jamesvcc @r4nd1-gh the 2.12 was uploaded to PyPi last night which contains the fix

[2021-12-19 22:53] je4928 opened #83 "BUG: unable to retrieve active modules"
After re-install of mmpm module activre modules no longer appear.  It appears that the latest version of mmpm is no longer on githuib.  Version on github is 2.12 and this issue was supposed to be fixed in version 2.15.

[2021-12-20 23:45] Bee-Mar commented on #83
Following the reinstall of MMPM, you'll also need to run:

mmpm install --as-module

[2021-12-20 23:52] je4928 commented on #83
Thank you. That resolved my issue,

[2021-12-20 23:52] #83 closed

[2021-12-21 16:09] Bee-Mar commented on #80
@firefighter4892 have you had a chance to try this?

[2021-12-21 16:11] Bee-Mar commented on #77
@adamsjdavid download the latest version of MMPM and run the commands below. This issue should be resolved.

pip install --upgrade mmpm
mmpm install --gui
mmpm install --as-module

[2021-12-26 15:53] #80 closed

[2021-12-26 15:53] Bee-Mar commented on #80
I'm closing this issue because other users have been able to get the "active modules" feature working with the new update.

[2021-12-26 15:54] Bee-Mar commented on #77
I'm closing this issue because other users have been able to get the "active modules" feature working with the new update.

[2021-12-26 15:54] #77 closed

[2021-12-26 15:54] Bee-Mar commented on #76
I'm closing this issue because other users have been able to get the "active modules" feature working with the new update.

[2021-12-26 15:54] #76 closed

[2021-12-26 15:54] #70 closed

[2021-12-28 15:40] firefighter4892 commented on #80
Sorry for not replying earlier, holidays have been busy. I still could not
get it to work.  About half of the modules I have tried I have not been
able to get to work.  All that happens is the screen goes black.  When I
delete the code, it goes back to working as normal.  I don't know what else
to try, but thanks for reaching out.  Hope your holidays are going well,
-Ryan

On Sun, Dec 26, 2021 at

[2022-01-19 09:52] djochem-keyONE opened #85 "Error 502 - Bad Gateway"
Regarding the already closed issue #40 I am experiencing the same issues with current version of MMPM on every reboot.
What fixed it for me, was editing the mmpm.conf replacing the "localhost" entries with "127.0.0.1" as suggested in the last post on that issue.

First assumed, that maybe active IPv6 on the network adapters would cause this issue, but even when disabling IPv6 the issue persists.

[2022-01-19 13:19] Bee-Mar commented on #85
@djochem-keyONE after upgrade did you re-run 'mmpm install --gui'?

[2022-01-19 13:24] djochem-keyONE commented on #85
No, I had this issue on a completely fresh install of MagicMirror with MMPM. I installed MM and MMPM with the corresponding manuals. Everything worked fine until a reboot. I tried re-run 'mmm install --gui' and also re-installing MMPM but nothing helped. That's why I came through google to issue #40 :-)
After changing the mmpm.conf like mentioned in my first post, MMPM comes up as expected after a

[2022-01-19 13:24] #66 closed

[2022-01-22 19:01] Adiventure opened #86 "Bash: MMPM: Command not found"
`  WARNING: The script chardetect is installed in '/home/pi/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script wsdump is installed in '/home/pi/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-sc

[2022-01-22 19:09] Bee-Mar commented on #86
The first line of that message indicates the issue. You don't have "~/.local/bin" as part of your PATH environment variable.

You can solve this easily with the command below:

echo 'export PATH=$PATH:~/.local/bin' >> ~/.bashrc

[2022-01-22 19:18] Adiventure commented on #86
You're a gentleman and a scholar.

Curious how that comes to be.

I did that command, and repeated the prior command, however I am still getting the command not found result.
`pi@Pi-Mirror:~ $ echo 'export PATH=$PATH:~/.local/bin' >> ~/.bashrc
pi@Pi-Mirror:~ $ mmpm --guided-setup
bash: mmpm: command not found
pi@Pi-Mirror:~ $ python3 -m pip install --upgrade --no-cache-dir mmpm
Looking in indexes:

[2022-01-22 19:21] Bee-Mar commented on #86
You may need to source your bashrc to make the changes effective. You do that by opening a new terminal window or running:
 "source ~/.bashrc" in your current window

[2022-01-22 20:57] Adiventure commented on #86
Thank you. How is it that these get messed up in the first place?

[2022-01-22 21:01] Bee-Mar commented on #86
@Adiventure On a fresh installation of pretty much all versions of Linux I'm aware of, `~/.local/bin` isn't part of the `PATH`. A lot of users get tripped up on that when things like Python, NPM, Ruby packages and other executables get stored in `~/.local/bin`

[2022-01-22 21:35] Adiventure commented on #86
Great, thank you.

[2022-01-22 21:36] #86 closed

[2022-01-24 19:12] OneGaming36 opened #87 "Can't rotate Screen"
When trying to rotate the screen of my MagicMirror through MMPM I get the following error message from MMPM:
"Unable to determine the current rotation setting. An initial value must exist in your /boot/config.txt for MMPM to modify."

Since I had no idea what to do, I searched for a solution through Google.
Someone has been talking about adding "display_rotate=1" to /boot/config.txt.
After doing s

[2022-01-29 23:16] prandleman opened #88 "BUG: WSL1; MM Server; GUI Install Fails on systemd"
I reverted back to WSL1 cause 2 is a pain to access network applications
[code]
[code]
[code]
There were literally **NO** other ports to use
[code]
[code]
WSL1 doesn't have easy fs access from windows, so I just posted it here, my bad
[code]

[2022-01-29 23:19] Bee-Mar commented on #88
@prandleman As far as I know, SystemD isn't supported on WSL, which can cause a bunch of issues surrounding services that rely on it. Have you tried the docker version of MMPM?

[2022-02-03 12:46] unclecracker commented on #85
I can confirm the issue and I am able to reproduce it by the following steps:

I have an RPI 3 B with x64 RaspianOS https://downloads.raspberrypi.org/raspios_arm64/images/raspios_arm64-2022-01-28/2022-01-28-raspios-bullseye-arm64.zip

- Fresh setup SD and boot to desktop
- Initial OS Setup assistant, Wifi, updates
- Locale en,US,UTF-8
- apt update / upgrade
- sudo apt install libffi-dev nginx-full

[2022-02-16 14:59] dannydp79 opened #90 "Fresh install, can't connect to active modeuls"
Ok so I’ve got a new install, clean fresh on LTS Ubuntu

I’m getting the Unable to retrieve active modules error message. I have checked my config and the whitelist is just open [] so should (and does) let anyone in. I’ve verified I can get to the URL from both the server and local workstations on the same network.

I can’t see anything in my config that’s messing it up, so hoping a guru will know

[2022-02-26 02:11] prandleman commented on #88
I'll check that out, thanks.

[2022-02-26 02:11] #88 closed

[2022-02-26 17:42] prandleman commented on #85
Thank you this was really annoying.

[2022-03-05 17:08] Bee-Mar commented on #90
@dannydp79 have you had a chance to look through those instructions?

[2022-03-05 17:09] Bee-Mar commented on #87
@OneGaming36 this is odd. I'll look into this over the weekend

[2022-03-05 20:00] khassel commented on #87
@OneGaming36 which OS-Version are u running? 32bit or 64 bit? bullseye or buster?

[2022-03-05 21:41] OneGaming36 commented on #87
Buster 32bit.

[2022-03-05 22:59] khassel opened #93 "installation broken"
When starting mmpm in the docker container with `/home/node/.local/bin/gunicorn --reload --worker-class eventlet --bind localhost:7891 mmpm.wsgi:app --user=node` I'm now getting these errors:

[code]

This worked with my last dependency build in Dec. 2021. So I digged deeper and compared the changed python deps:

Working one from Dec.:
[code]

Now not working:
[code]

Because I have no python know

[2022-03-08 22:41] khassel commented on #93
I nailed "itsdangerous==2.0.1" in the requirements to get this working again, but this should be fixed here.

AFAIS this is no docker problem so I changed the title.

[2022-03-13 09:00] VilhelmR opened #94 "BUG: Unable to retrieve active modules"
**Describe the Bug**

I'm unable to retrieve the active modules in the web interface, and have both set the ipWhitelist to [], and tried both 127.0.0.1:8080 and 192.168.8.182:8080 (the network address) as the address for my MagicMirror.

**To Reproduce**

- Install MagicMirror manually on RPi02
- Install mmpm
- Go through guided setup
- Go to http://<network address>:7890/

**Expected behavior**
T

[2022-03-18 12:43] antanisblinda opened #95 "config editor empty"
Hi.
I installed mmpm successfully. the (GUI) homepage shows the module installed and allows me to enable/disable modules.
I added the mmpm module into the config.js of MM.
What i can't fully understand is why the config editor tab shows an empty file, with only one empty record #1.
any suggestions on what i did wrong?

thank you

[2022-03-18 13:27] antanisblinda commented on #95
i'm an idiot.
you actually need to choose the file you want to edit in the bottom right corner.
Maybe to consider a comment in the editor form, when no file is selected, to say :  "please choose a file to edit"
But it remains that i'm an idiot! :)
thanks

[2022-03-18 13:27] #95 closed

[2022-04-09 17:09] Bee-Mar commented on #93
There have been a number of automated pull requests created to update versions. I'm working on the develop branch locally to get it all resolved. Gotta love dependency issues lol

[2022-04-09 17:20] Bee-Mar commented on #90
@dannydp79 have you have any more time to try that out?

[2022-04-09 20:39] khassel commented on #93
issue is more than 4 weeks old so may dependencies changed again ...

[2022-04-28 08:18] Schnabulation commented on #94
Exact same issue here. Only difference is that I'm using PM2 to run Magic Mirror.

[2022-04-30 14:10] Bee-Mar commented on #94
@VilhelmR @Schnabulation have you consulted the Wiki and followed the instructions for adding the MMPM MagicMirror module to enable this feature? https://github.com/Bee-Mar/mmpm/wiki/Status,-Hide,-Show-MagicMirror-Modules

[2022-04-30 15:25] Bee-Mar commented on #93
@khassel I've pushed changes for version 2.13, and it's up on PyPi now. Hopefully the install in docker works smoothly. I'm also going to be upgrading the GUI to use a more recent version of Angular, but that _shouldn't_ cause any build issues

[2022-04-30 15:38] Bee-Mar commented on #90
@dannydp79 I'm going to close this issue due to inactivity. Re-open if you still have issues

[2022-04-30 15:38] #90 closed

[2022-04-30 20:44] khassel commented on #93
With `2.13` the `itsdangerous` problem seems to be solved but now I'm getting:

[code]

To be honest I have no time to dig in these python stuff so there will be no new docker image for `2.13` until this is solved.

This happens with python 3.8 on bullseye.

[2022-04-30 20:46] Bee-Mar commented on #93
I'll look into this now and let you know when it looks good to retry.

[2022-04-30 21:42] Bee-Mar commented on #93
@khassel just created a 2.14 version which should address the issue you encountered. Nothing like dependency hell lol

[2022-04-30 22:21] khassel commented on #93
Thanks, could test it on arm64, works there. Will provide the new images tomorrow (arm image build needs ~ 2h and I'm 6 hours ahead ...)

[2022-04-30 22:25] Bee-Mar commented on #93
Whenever you get a chance is more than fine. The docker image wouldn't exist without you anyway!

[2022-05-01 20:29] Bee-Mar commented on #93
@khassel let me know when things work for you so I can close this issue

[2022-05-01 20:32] khassel commented on #93
Its working so I will close this now. The images for version 2.14 are available on docker hub.

At the moment I'm struggling with on of your favorite errors, the not working active module page ...

[2022-05-01 20:32] #93 closed

[2022-05-01 21:18] Bee-Mar commented on #93
Did you ever get that to work? I didn't expect that to ever work with the docker images

[2022-05-01 21:20] khassel commented on #93
yes, works. Found my problem, was self made ...

[2022-05-02 10:24] Bee-Mar commented on #85
Does the IPV6 fix still work for all of you? If so, I'll add that as a suggestion to the wiki

[2022-05-03 12:46] #85 closed

[2022-05-03 15:34] mr-propre commented on #94
Same issue and context as in the OP here. I double checked everything is properly setup as mentioned in the wiki link you provided @Bee-Mar

Still no luck

[2022-05-03 15:37] Bee-Mar commented on #94
What version of MMPM do you all have installed? 2.12 is the latest version that worked properly in my testing with the changes made to MagicMirror. 2.14 is the latest release. You'd need to reinstall the MMPM MagicMirror module using:

'mmpm install --as-module'

Then restart MagicMirror.

[2022-05-03 15:49] mr-propre commented on #94
Alright thanks! I have MM version 2.19.0 and MMPM 2.14, I'll try with MMPM 2.12 and let you know if it works :)

[2022-05-03 15:51] Bee-Mar commented on #94
You'll also want to reinstall the GUI to be safe.

'mmpm remove --gui'
'mmpm install --gui'

[2022-05-03 15:59] Bee-Mar commented on #94
Can you also provide the MMPM logs and your MagicMirror config.js?

'mmpm log --zip'

[2022-05-27 08:26] wuast94 commented on #94
i have the same problem.

i double checked everything but cant see modules.

<details>
  <summary>Config.js</summary>

[code]

</details>

<details>
  <summary>ENV</summary>

[code]

</details>

<details>
  <summary>Spoiler warning</summary>

  The errors with nginx are fixed and after that i did a remove and install gui

[code]

</details>

Did also a complete restart after all
installed via "htt

[2022-05-27 10:26] editwentyone commented on #94
i have the same issue, 2.19 installed, double checked everything as the OP

[2022-05-29 21:22] Bee-Mar commented on #94
My hunch is something in MagicMirror changed and is causing the issue. I'll have to sus this out and probably put out a new verison

[2022-05-29 21:28] Bee-Mar commented on #94
actually, I take that back. It appears to be working on my end now. Also @wuast94 within your MMPM env configuration, you should set your `MMPM_MAGICMIRROR_URI` to either `http://0.0.0.0:8080` or using your LAN IP (for example, mine is `http://192.168.1.192:8080`)

[2022-05-29 21:28] Bee-Mar commented on #94
@mr-propre Have you had any success?

[2022-05-30 20:26] wuast94 commented on #94
after setting the lan ip it worked for me too

[2022-06-07 11:37] Schnabulation opened #103 "BUG: Not all Installed modules are in local packages"
**Describe the Bug**

I have installed 5 modules (excluding MMPM) using `git clone` and all of them work perfectly fine in the Magic Mirror frontend. However in MMPM only one of these modules are found in "local packages" and therefore MMPM watches for updates.

There seems to be a wiki page regarding this but it states that the issue was fixed in version 2.02. I have here a very fresh install - n

[2022-06-08 08:41] DrJaymz opened #104 "Unable to retrieve active modules... but not quite"
I looked at the documentation and previous postings but my issue seemed a little different.
In the UI it says unable to retrieve  active modules...  but `$mmpm` mm-ctl --status`
shows them all fine.

I am using 0.0.0.0 for everything so should be no issue accessing itself and the module is installed and in the config.

[2022-06-13 00:51] kaustubhcs opened #105 "BUG: Fatal Python error: initfsencoding: unable to load the file system codec"
Installation bug. Tried installing with the command `python3 -m pip install --upgrade --no-cache-dir mmpm`,
Got the error:
[code]

Using vanilla magic mirror. First thing I tried to install was MMPM package. Using Raspberry Pi 3 Model B with OS: Raspbian GNU/Linux 9.13 (stretch).

[2022-06-27 18:56] wchill commented on #104
I just ran into this too. Try updating `MMPM_MAGICMIRROR_URI` to the actual IP of your device instead of 0.0.0.0 - the web ui seems to be using this value to try and query MagicMirror

[2022-07-11 23:31] lmhmm opened #106 "BUG: No connection to Config.js file"
**Describe the Bug**

Is this an issue with the CLI or GUI?

GUI

Is this something that should be put in the Wiki?

?

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Installed twice now and everything else works, I can install modules, hide etc. however in Config I get

[2022-07-17 16:37] Bee-Mar commented on #106
@lmhmm I'm unclear on what the issue is based on the information above. Can you clarify?

[2022-07-17 16:38] Bee-Mar commented on #105
@kaustubhcs what version of Python3 is it?

[2022-07-17 16:40] Bee-Mar commented on #104
@DrJaymz You should **not** be using `0.0.0.0`, this is detailed in the [Status, Hide, Show MagicMirror Modules](https://github.com/Bee-Mar/mmpm/wiki/Status,-Hide,-Show-MagicMirror-Modules) wiki page.

[2022-07-17 16:42] Bee-Mar commented on #103
@Schnabulation The issue may be related to with what the name of the module is and the name of the directory. When you ran `git clone` to install the local packages, does the name of each module in your `config.js` match the name of the directory the module was cloned into?

[2022-07-17 17:14] kaustubhcs commented on #105
Thanks @Bee-Mar . The problem fixed itself. I did a clean reinstall of Raspbian OS, and it worked swimmingly :D

[2022-07-17 17:14] #105 closed

[2022-07-17 22:02] lmhmm commented on #106
It’s okay, it’s me being silly I found out that you have to CHOOSE the file to see. It works perfectly so sorry to have bothered you!

Great app!

Lorraine

Lorraine Hodgkinson AHG MRCHM HERBS AND HELPERS ®️
43A, Melbreak Avenue, Cockermouth,
Cumbria, CA13 9AE. UK.
Tel: +44 (0) 1900 826392
Mobile: 07761 489838 (O2)
www.herbalmedicineuk.com
VAT Number: GB 366828748

On 17 Jul 2022, at 17:37, Brando

[2022-07-18 07:22] Schnabulation commented on #103
Thank you for your help. I have just compared the directories to my `config.js` and can say: yes, the folder names match the name of the module referenced in the config.

Interestingly though all new installed modules show up correctly under Local Packages but the ones that were already installed when installing MMPM do not show up. Do I have to manually index them somehow?

[2022-08-01 17:31] macaday opened #107 "BUG: Module is stuck hidden"
**Describe the Bug**

Is this an issue with the CLI or GUI? - Both

Is this something that should be put in the Wiki? - The commands shown in the wiki do not work.

A clear and concise description of what the bug is:

At some point I had hidden the MMM-Powerwall module in my Magic Mirror.  Now it's stuck hidden.  When I toggle visibility in the GUI and refresh it goes back to being hidden.  When I

[2022-08-16 16:21] Bee-Mar commented on #103
There is no mechanism to manually index them. Also, I didn't clearly explain my previous question. When you cloned each of the repos, did you clone them into an alias directory? Or did you just run "git clone" followed by only the URL?

For example:

git clone https://github.com/bee-mar/mmpm.git

Or did you run something like:

git clone https://github.com/bee-mar/mmpm.git ~/some-alternative-name

[2022-08-16 16:40] Bee-Mar commented on #104
@wchill any update on this?

[2022-08-16 17:12] Bee-Mar commented on #106
No problem! There are definitely some things that can be improved and that may be something I adjust in a future release.

Thanks!

[2022-08-16 17:12] #106 closed

[2022-08-16 17:15] Bee-Mar commented on #103
Also, it would be best for you to reinstall the modules using the "mmpm" CLI. The way some modules are named doesn't quite match with the repo URL and I have to parse the name from the URL. So MMPM may be looking for a different name than you expect.

[2022-08-17 07:10] Schnabulation commented on #103
I just run the normal `git clone [repo-url]` command without any alias name. But I did install these modules before I installed mmpm. I was of the impression that mmpm would index them.

If I reinstall the repos will my adjustments be overwritten? I have adjusted some CSS files.

[2022-08-21 02:28] rroach3753 opened #108 "BUG:"
I have recently added HTTPS support to my magic mirror (it's a public wildcard cert), however, when enabling HTTPS support in MM I can no longer use the FQDN and port for MMPM.  If I switch to the IP address for the RPi running MM/MMPM with the port for MMPM I can access the MMPM interface.

[2022-08-30 18:10] Bee-Mar commented on #108
Can you provide the configuration file as well as your MMPM environment setup using the `mmpm env` command?

[2022-08-30 18:16] Bee-Mar commented on #107
There is a plan to reintroduce the ability to hide/show modules based on key names, but it was changed to integer values in the most recent update because other users had issues controlling the duplicate built-in weather modules. As it stands, you would need to list the existing modules using `mmpm mm-ctl --status` to get the key for that module and then hide/show whichever ones you want.

[2022-08-30 18:17] Bee-Mar commented on #104
@wchill I'm going to close this issue since there isn't an update. Feel free to reopen if there is still a problem.

[2022-08-30 18:17] #104 closed

[2022-08-30 18:21] Bee-Mar commented on #94
@wuast94 cool, I'm going to go ahead close this issue. If anyone else is still experiencing an issue feel free to reopen.

[2022-08-30 18:22] wchill commented on #104
I'm not the original issue creator, but essentially there's some step that asks for the listening IP of MM, if I remember correctly. 0.0.0.0 is technically a correct input in this case.

[2022-09-05 13:32] sdetweil opened #109 "BUG: install fails, gallium (x64, ubuntu)"
**Describe the Bug**

python3 -m pip install mmpm
Collecting mmpm
  Could not find a version that satisfies the requirement mmpm (from versions: )
No matching distribution found for mmpm
Is this an issue with the CLI or GUI?

A clear and concise description of what the bug is.

can't install, mmpm not found

tried with and without python virtual env

uname -a
Linux galliumos 4.16.18-galliumos #1 S

[2022-09-05 14:03] Bee-Mar commented on #109
Python 3.6.9 isn't supported, only Python >= 3.7. Give that a shot a let me know how it goes.

[2022-09-05 14:10] sdetweil commented on #109
I did this, using the wiki instructions
[code]

[2022-09-05 14:15] sdetweil commented on #109
and
[code]

[2022-09-05 14:16] sdetweil commented on #109
trying to help user on mm discord

[2022-09-05 17:24] Bee-Mar commented on #109
Based on the output you posted, it shows the system Python3 version is 3.8 but the version in the virtual env is 3.6.9. The virtual env would need to be recreated using Python 3.8. I'm not sure how your system or the other users system is setup, but possibly running "python3.8 -m venv venv" might be similar to what you'd need to create a virtual env with the right Python version. The MMPM executab

[2022-09-05 18:03] sdetweil commented on #109
[code]
sorry, know nothing about python

[2022-09-06 17:30] n4tur3502 opened #110 "BUG:"
Is this an issue with the CLI or GUI?
CLI

A clear and concise description of what the bug is.
When I run the guided setup after install i get an error that says "ERROR: Failed to start MMPM SystemD service. See `mmpm log` for details
Remove the MMPM GUI?"
Steps to reproduce the behavior:
Run mmpm --guided-setup

**Operating System, Python3 Version, and Web Browser**\
(Please complete the followin

[2022-11-30 17:33] davedudek opened #114 "BUG: can't install"
**Describe the Bug**

Is this an issue with the CLI or GUI? CLI

Is this something that should be put in the Wiki? Maybe?

A clear and concise description of what the bug is.

Installed a fresh copy of Raspberry Pi OS 32 bit Debian Bullseye Desktop and can install Magic Mirror as described but can't get past the second line of install for  mmpm "python3 -m pip install --upgrade --no-cache-dir mmpm

[2022-11-30 20:23] khassel commented on #114
I was already wondering if only I have problems installing this on arm32v7.

The problematic packages are `bcrypt` and `cryptography`. Both need a rust compiler for install but I had several follow-up problems after installing rust.

You can reproduce the error messages by executing `pip install bcrypt` and `pip install cryptography`.

You can see what I'm doing to build this project in [this Dock